[% INCLUDE 'help-top.inc' %]

<h2>Adding Items</h2>

<p>After saving a new bibliographic record, you will be redirected to a blank item record so that you can attach an item to the bibliographic record. You can also click 'Add Holdings' from the cataloging search results or you can add new item at any time by clicking 'New' on the bibliographic record and choosing 'New Item'</p>

<p>The item edit form will appear:</p>

<p>At the very least, the following fields should be entered for new items:</p>

<ul>
	<li>8 - Collection code</li>
	<li>a - Permanent location</li>
	<li>b - Shelving location</li>
	<li>o - Full call number</li>
	<li>p - Barcode</li>
	<li>v - Cost, replacement price
<ul>
	<li>This value will be charged to patrons when you mark and item they have checked out as 'Lost'</li>
</ul>
</li>
	<li>y - Koha item type</li>
</ul>

<p>Below the add form there are 3 buttons for adding the item</p>

<ul>
	<li>Add Item will add just the one item</li>
	<li>Add &amp; Duplicate will add the item and fill in a new form with the same values for your to alter</li>
	<li>Add Multiple Copies will ask how many copies and will then add that number of copies adding +1 to the barcode so each barcode is unique</li>
</ul>

<p>Your added items will appear above the add form once submitted</p>

<p>Your items will also appear below the bibliographic details on the bib record display.</p>

<p>If you have SpineLabelShowPrintOnBibDetails set to 'Display' then there will also be a link to print a quick spine label next to each item.</p>

<h2>Editing Items</h2>

<p>Items can be edited in several ways.</p>

<ul>
	<li>Clicking 'Edit' and 'Edit Items' from the bibliographic record</li>
	<li>Clicking 'Edit Items' beside the item on the 'Items' tab</li>
</ul>

<p>The edit menu is also where items can be deleted from</p>

<h2>Moving Items</h2>

<p>Items can be moved from one bibliographic record to another using the Attach Item option</p>

<p>Visit the bibliographic record you want to attach the item to and choose 'Attach Item' from the 'Edit' menu.</p>

<p>Simply enter the barcode for the item you want to move and click 'Select'</p>

<p>If you want to move all items to a new record creating only one bibliographic record you can use the Merge Records tool instead.</p>

[% INCLUDE 'help-bottom.inc' %]
