[% INCLUDE 'help-top.inc' %]

<h1>Vendor Search</h1>

<p>At the top of the various Acquisition pages there is a quick search box where you can perform either a Vendor Search or an Order Search.</p>

<p>In the Vendor Search you can enter any part of the vendor name to get results.</p>
	
[% INCLUDE 'help-bottom.inc' %]