[% INCLUDE 'help-top.inc' %]

<h1>Add Bibliographic Record</h1>

<p>Sorting Field 1 and Sorting Field 2 may now be related to a list of Authorized Values. All you have to do is define an Asort1 or Asort2 category of authorized values and enter the desired values into these categories. You will then be able to use them through Add/Modify Bibliographic Record page</p>[% INCLUDE 'help-bottom.inc' %]