[% INCLUDE 'help-top.inc' %]

<h1>Serial Collection</h1>

<p>This page shows a short summary of the subscription along with all of the issues that have been received, are expected, or marked late.</p>

<p>From here you can choose to edit specific issue or receive new issues.</p>

<p>To edit or receive an issue, simply check the box in the 'Edit' column and click the 'Edit Serial' button.</p>

<p>If you are adding multiple issues at once or if the latest expected issue is late, you can click the 'Generate Next' button to generate the next issue based on the subscription pattern.</p>

[% INCLUDE 'help-bottom.inc' %]