@import url("../lib/yui/reset-fonts-grids.css");
@import url("../lib/yui/skin.css");

a, a:link, a:visited, a:active {
	color : #0000CC;
}

.yui-button,.yui-button a:link,.yui-button a:visited {
	color : #000;
}

a.yuimenuitemlabel {
        color: #000000;
}

a:hover {
	color : #669ACC;
}

a.overdue,
.overdue,
.debit {
	color : #cc0000;
}

a.popup {
	background : transparent url("../../img/pop-up-link.png") center right no-repeat;
	padding-right : 15px;
}

body {
	text-align : left;
  	padding:0 0 2.5em 0;
  font-family: arial, verdana, helvetica, sans-serif;
}

br.clear {
	clear : both;
	line-height : 1px;
}

form {
	display : inline;
}

form.confirm {
	display : block;
	text-align : center;
}

h1 {
	font-size : 161.6%;
	font-weight : bold;
}

h2 {
	font-size : 146.5%;
	font-weight : bold;
}

h3 {
	font-size : 131%;
	font-weight : bold;
}

h4 {
	font-size : 116%;	
	font-weight : bold;
}

h5 {
	font-size : 100%;	
	font-weight : bold;
}

h6 {
	font-size : 93%;
	font-weight : bold;
}

h1,h2,h3,h4,h5,h6 {
	margin : .3em 0;
}

html {
}

p {
	margin: .5em 0 .5em 0;
}

strong {
	font-weight : bold;
}

strong em {
	font-weight : bold;
	font-style : italic;
}

em, cite {
	font-style : italic;
}

em strong {
	font-weight : bold;
	font-style : italic;
}

.subfield-label {
    font-style : italic;
}

#hd {
}

#navigation {
	border-right : 1px solid #BCBCBC;
}

#navigation li {
	font-weight : bold;
}

#navigation li li {
	font-weight : normal;
}

#navigation input {
	font-size : 85%;
}

#navmenulist li {
	padding : .2em 0;
	list-style-image : url("../../img/arrow-bullet.gif");
	border-bottom : 1px solid #EEE;
}

#navmenulist li a {
	text-decoration : none;
}

#ft {
}

.yui-u {
}

#doc, #doc1, #doc2, #doc3 {
	padding-top : 1em;
}

#login	 {
	position : absolute;
	right : .5em;
}

#login a {

}

ul {
	padding-left : 1.1em;
}

ul li {
	list-style-type : disc;
}

ul li li {
	list-style-type : circle;
}

ol {
	padding-left : 1.5em;
}

ol li {
	list-style : decimal;
}

#header {
	background-color : #F3F3F3;
	border-bottom : 1px solid #E8E8E8;
	line-height : 2em;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

#sitetitle {
/*	background-image : url("../../img/koha-logo-black.png");
	background-position : 5px 2px;
	background-repeat : no-repeat;
	float : left;
	height : 54px;
	padding-left : 50px;*/
	border-bottom : 1px solid #E8E8E8;
}

#sitetitle h1 {
	display : inline;
	line-height : 54px;
}

#sitetitle h1 a {
	text-decoration : none;
}

#submenu {
	margin : 0 0 .5em 0;
	padding : 0;
}

#submenu ul {
	margin : 0;
	padding : 0;	
}

#submenu ul li {
	padding-left : 0;
}

table {
	border-collapse : collapse;
	border-top : 1px solid #BCBCBC;
	border-right : 1px solid #BCBCBC;
}

table.invis,
table.invis tr,
table.invis td,
tr.highlight table.invis td {
	border : none;
}

td, th {
	border-bottom : 1px solid #BCBCBC;
	border-left : 1px solid #BCBCBC;
	padding : .2em .3em;
}

td {
	background-color : White;
	vertical-align : top;
}

td.borderless {
    border-collapse : separate;
    border : 0 none;
}

td.data,
th.data {
	font-family : "Courier New", Courier, monospace;
	text-align : right;
}

th {
	background-color : #E8E8E8;
	font-weight : bold;
	text-align : center;
}

table+table {
	margin-top : 1em;
}

#editions table, #editions td {
	border : 0;
}


tr.highlight td, tr.highlight th, tr.odd td {
	background-color : #F3F3F3;
	border : 1px solid #DDDDDD;
	border-right : 1px solid #DDDDDD;
}

tr.even td, tr.even.highlight td {
	background-color: #FFF;
	border-right : 1px solid #DDDDDD;
}

td.od {
	color : #cc0000;
	font-weight : bold;
}

tr.warn td {
	background-color: #FF9090;
}

tr.onissue td {
	background-color: #FFFFCC;
}

tr.odd.onissue td {
	background-color: #FFFFE1;
}

tfoot td {
	background-color : #f3f3f3;
	font-weight : bold;
}

td.total {
	text-align : right;
}

caption {
	font-size : 133.9%;
	font-weight : bold;
	margin : .3em 0;
}

span.problem {
	background-color : #FFFFCC;
	color : #990000;
	font-weight : bold;
	line-height : 1.7em;
}

fieldset {
	border : 2px solid #EEEEEE;
	margin : 1em 1em 1em 0;
	padding : 1em;
}

legend {
	font-size : 123.1%;
	font-weight : bold;
	margin : 0 0 0 -1em;
	padding : 0;
}

#breadcrumbs {
	background-color : #F3F3F3;
	border-bottom : 1px solid #E8E8E8;
	clear : both;
	font-size : 90%;
	padding :.2em .5em .4em 10px;
	margin : 0;
}

#header+#breadcrumbs {
	margin-top : 1em;
}

#commonsearch {
	display : inline;
}

div.justify {
    text-align: justify;
}

div#header_search {
	background-position : .5em .5em;
	background-repeat : no-repeat;
	float: left;
	margin: .3em 0 .5em 0;
}

div#header_search input {
	font-size : 1.3em;
}

div#header_search ul.link-tabs {
	font-family : Arial, Geneva, sans-serif;
	margin-bottom : -4px;
}

div#header_search ul.link-tabs li.on a,
div#header_search ul.link-tabs li a,
div#header_search ul.link-tabs li.off a {
	padding : 0.1em .5em .2em .5em;
}

div#header_search div.residentsearch {
	border : 0;
	border-bottom : 1px solid #FF9900;
	padding : 0 0 .2em 0;
}

div#reserves,div#checkouts {
	border : 1px solid #E8E8E8;
	padding : 1em;
}

.tip {
	font-size: 93%;
	color : Gray;
}

.single-line {
	white-space: nowrap;
}

.ex {
	font-family : "Courier New", Courier, fixed-width;
	font-weight : bold;
}


div.yui-b h5 {
	font-size : 100%;
	margin : .5em 0;
}

dt {
	font-weight : bold;
}

dd {
	padding : .2em;
	font-size : 90%;
	text-indent : 2.5em;
	font-weight : normal;
}

div#toolbar {
	background-color : #F3F3F3;
	margin-bottom : .7em;
}

ul.toolbar {
	padding-left : 0;
}

ul.toolbar button {
	padding-bottom : 2px;
	font-family: arial, verdana, helvetica, sans-serif;
}
.yui-menu-button  {
	
}

a.yuimenuitemlabel-disabled, #disabled a {
	color: #999;
}
a.yuimenuitemlabel-disabled:hover, #disabled a:hover {
	color : #999;
}
a.highlight_toggle {
    display : none;
}

ul.toolbar li {
	display : inline;
	list-style : none;
}

div.patroninfo {
	margin-top : -.5em;
}

*html div.patroninfo {
	margin-right : .5em;
}

div.patroninfo h5 {
	border-right :  1px solid #000;
	margin-bottom : 0;
	padding-left : -.5em;
	padding-top : .3em;
	padding-bottom : .5em;
}

div.patroninfo ul {
	border : 0;
	border-right : 1px solid #000;
	border-bottom : 0;
	border-top : 0;
	padding : 0;
	margin : 0;
}

div.patroninfo ul li {
	margin : 0;
}

div.patroninfo ul li, div.patronviews ul li {
	list-style-type : none;
}

div.patronviews {
	border-right :  1px solid #000;
	border-top : 1px solid #000;
	margin-bottom : .5em;
	padding : .5em 0 .5em 0;
}

.column-tool {
	font-size: 80%;
}

fieldset.brief {
	border : 1px solid #E8E8E8;
}

fieldset.brief label,
fieldset.brief span.label {
	display : block;
	font-weight : bold;
	padding : .3em 0;
}

fieldset.brief ol, fieldset.brief li {
	list-style-type : none;
}

.hint {
	color : #999999;
	font-size : 95%;
}

fieldset.brief div.hint, fieldset.rows div.hint, div.yui-u div.hint {
	font-size : 95%;
	margin-bottom : .4em;
}

div.yui-b fieldset.brief {
	padding : .4em .7em;
}

div.yui-b fieldset.brief ol {
	font-size : 85%;
	margin : 0;
	padding : 0;
}

div.yui-b fieldset.brief select {
	width: 12em;
}
div.yui-b fieldset.brief li.radio {
	padding : .7em 0;
}
div.yui-b fieldset.brief li.radio label,
div.yui-b fieldset.brief li.radio span.label {
	display : inline;
}

div.yui-b fieldset.brief li.radio input {
	padding:0.3em 0;
}

div.yui-b fieldset.brief fieldset {
	margin : 0 .3em;
	padding : .5em;
}

div.yui-b fieldset.brief fieldset legend {
	font-size : 85%;
}

fieldset.rows {  
border-width : 1px;
border-bottom : 1px solid #666;
float : left;
font-size : 90%;
clear : left;
margin: .9em 0 0 0;  
padding: 0;
width: 100%; 
}

fieldset.rows legend {  
	margin-left: 1em;
	font-weight: bold;
	font-size : 110%;
}

fieldset.rows label, fieldset.rows span.label {  
	float: left;  
	font-weight : bold;
	width: 6em;  
	margin-right: 1em;  
	text-align: right;
}

fieldset.rows fieldset {
	border-width : 1px;
	margin : 0 0 .5em 0;
	padding : .3em;
}

.yui-b fieldset.rows label, .yui-b fieldset.rows span.label {  
	width: 9em;  
}

.yui-b fieldset.rows div.hint {
	margin-left : 10.5em;
}

.yui-u fieldset.rows label, .yui-u fieldset.rows span.label {  
	width: 10em;  
}

.yui-u fieldset.rows div.hint {
	margin-left : 7.5em;
}

fieldset.rows.left label, fieldset.rows.left span.label {
	width : 8em;
	text-align : left;	
}

fieldset.rows ol {  
padding: 1em 1em 0 1em;  
list-style-type: none;
}

fieldset.rows li {  
float : left;
clear : left;
padding-bottom: 1em;
list-style-type: none;
width: 100%; 
}

fieldset.rows.left li {
	padding-bottom : .4em;
}

fieldset.rows li.radio {
	padding-left: 9em;
	width : auto;
}

fieldset.rows li.radio label {
	float : none;
	width : auto;
	margin : 0 0 0 1em;
}

fieldset.rows ol.radio label {
	width : auto;
	float : none;
	margin-right : 0;
}

fieldset.rows ol.radio label.radio {
	float : left;
	width : 12em;
	margin-right : 1em;
}

fieldset.rows table {
	font-size : 105%;
	clear : both;
	margin : 1em 0 1em 1em;
}

fieldset.rows td label {
	float : none;
	font-weight : normal;
	width : auto;
}

fieldset.rows label.yesno {
	float : none;
	width : auto;
}

fieldset.action, div.action {
	clear : both;
	float : none;
	border : none;
	margin : 0;
	padding : 1em 0 .3em 0;
	width : auto;
}

div.rows {
float : left;
clear : left;
margin: 0 0 0 0;  
padding: 0;
width: 100%; 
}


div.rows span.label {  
	float: left;  
	font-weight : bold;
	width: 9em;  
	margin-right: 1em;  
	text-align: left;
}

div.rows ol {  
padding: .5em 1em 0 0;  
list-style-type: none;
}

div.rows ol li li {
	border-bottom: 0;
}

div.rows li {
border-bottom :  1px solid #EEE;
float : left;
clear : left;
padding-bottom: .2em;
padding-top: .1em;
list-style-type: none;
width: 100%; 
}

a.cancel {
	padding-left : 1em;
}

fieldset.rows fieldset.action {
	padding : 1em;
}

fieldset.rows label.inline {
	display : inline;
	float : none;
	margin-left : 1em;
	width : auto;
}

fieldset.rows .inputnote {
	clear : left;
	float : left;
	margin : .5em 0 0 11em;
}

.ui-tabs-nav li {
	margin-right : .5em;
	position : relative;
	top : -1px;
}

.ui-tabs-nav li.ui-tabs-selected {

}

.ui-tabs-nav a, .ui-tabs-nav a span, .ui-tabs-nav span.a {
   background : none;
	display : block;
	padding: .2em .5em .25em .5em;
}

.ui-tabs-nav a, .ui-tabs-nav span.a {

}

.ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav .ui-tabs-selected span.a {
	background-color : #FFFFCC;
	border-top: 1px solid #FFFFCC;
	border-right: 1px solid #FF9900;
	border-bottom: 1px solid #FF9900;
	border-left: 1px solid #FFCC66;
	font-weight : bold;
	text-align : center;
	text-decoration : none;

}

.ui-tabs-nav .tabs-selected a, .ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active, .ui-tabs-nav span.a {
    outline: 0; /* prevent dotted border in Firefox */
}

.ui-tabs-nav .ui-tabs-selected a:hover {
	color : #0000CC;
}

.ui-tabs-nav li.ui-tabs-selected {
	background-color : #FFFFCC;
}

.ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active, .ui-tabs-nav span.a {
	 background : none;
    outline: 0; /* prevent dotted border in Firefox */
}

.tabs-container {
    border-top: 0;
    padding : inherit;
    background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */
}
.tabs-loading em {
    padding: inherit;
    background: none;
}

.toptabs {
	margin-top : 1em;
}

.toptabs .ui-tabs-nav li {
	margin-right : .5em;
	position : relative;
	top : 1px;
}

.toptabs .ui-tabs-nav li a, .toptabs .ui-tabs-nav li span.a {
	background-color : #F3F3F3;
	border : 1px solid #E8E8E8;
	text-align : center;
	text-decoration : none;
}

.toptabs .ui-tabs-nav li.ui-tabs-selected  {

}

.toptabs .ui-tabs-nav li.ui-tabs-selected a, .toptabs .ui-tabs-nav li.ui-tabs-selected span.a {
	background-color : #FFF;
	border-bottom : 1px solid #FFF;
	margin-top : 0;
}

.toptabs .tabs-container {
	border : 1px solid #E8E8E8;
	padding : 1em;
}

.checkedout {
	color : #999999;
	font-style : italic;
}

.subfield_not_filled {
	background-color : #FFFF99;
}
.content_hidden {
    visibility:hidden; /* you propably don't need to change this one */
    display:none;
}

/* the property for the displayed tab */
.content_visible {
    visibility:visible; /* you propably don't need to change this one */
    display:block;
}
#newbiblio a, #addchild a, #newentry a, #newshelf a, #newmenuc .first-child, #newsupplier .first-child, #newlabel a, #newtemplate a, #newlabelbatch a, #newpatroncardbatch a, #newprofile a, #newsubscription a, #newdictionary a, #newbasket a, #newrootbudget-button, #budgets_menuc .first-child, #periods_menuc .first-child {
	padding-left : 34px;
	background-image: url("../../img/toolbar-new.gif");
	background-position : center left;
	background-repeat : no-repeat;
}

#changepassword a {
	padding-left : 34px;
	background-image: url("../../img/toolbar-password.gif");
	background-position : center left;
	background-repeat : no-repeat;
}

#manageorders a {
	padding-left : 34px;
	background-image: url("../../img/toolbar-orders.gif");
	background-position : center left;
	background-repeat : no-repeat;
}


#savemenuc .first-child, #addbiblio .first-child {
	padding-left : 34px;
	background-image: url("../../img/toolbar-save.gif");
	background-position : center left;
	background-repeat : no-repeat;
}

#editpatron a, #editmenuc .first-child, #editshelf a, #edit a, #editsupplier a, #managelabel a, #managetemplate a, #managelabelbatch a, #manageprofile a {
	padding-left : 34px;
	background-image: url("../../img/toolbar-edit.gif");
	background-position : center left;
	background-repeat : no-repeat;
}

#duplicate a {
	padding-left : 34px;
	background-image: url("../../img/toolbar-duplicate.gif");
	background-position : center left;
	background-repeat : no-repeat;
}

#receive a {
	padding-left : 34px;
	background-image: url("../../img/toolbar-receive.gif");
	background-position : center left;
	background-repeat : no-repeat;
}

#renew a {
	padding-left : 34px;
	background-image: url("../../img/toolbar-renew.gif");
	background-position : center left;
	background-repeat : no-repeat;
}

#deletebiblio button, #deletebiblio a, #deletepatron a, #deleteshelf .first-child, #delete a {
	padding-left : 34px;
	background-image: url("../../img/toolbar-delete.gif");
	background-position : center left;
	background-repeat : no-repeat;
}

#z3950search .first-child {
	padding-left : 34px;
	background-image: url("../../img/toolbar-search.gif");
	background-position : center left;
	background-repeat : no-repeat;
}
#z3950searcht table {
	/* doesn't have desired effect in catalogue/results.tmpl - I'll leave this here for now but there do seem to be casscading CSS errors in this and other CSS fiels - RICKW 20081118 */
	padding: 20px;
	border: none;
}
#printbiblio button, #printbiblio a, #printmenuc .first-child {
	padding-left : 34px;
	background-image: url("../../img/toolbar-print.gif");
	background-position : center left;
	background-repeat : no-repeat;
}

#addtoshelf button, #addtoshelf a {
	padding-left : 34px;
	background-image: url("../../img/toolbar-add-to-shelf.gif");
	background-position : center left;
	background-repeat : no-repeat;
}

#placehold a,
#placehold button,
#holdfor .first-child {
	padding-left : 34px;
	background-image: url("../../img/toolbar-hold.gif");
	background-position : center left;
	background-repeat : no-repeat;
}

#holdfor .first-child { padding-left : 17px; }

#editmenuc .first-child, #deleteshelf .first-child,#newmenuc .first-child, #addbiblio .first-child, #z3950search .first-child, #printmenuc .first-child, #newsupplier .first-child, #savemenuc .first-child, #budgets_menuc .first-child, #periods_menuc .first-child {
	padding-left : 15px;
}

.error,
.error a,
.error a:link,
.error a:visited {
       color: #cc0000;
}

div.error {
	border : 2px dashed #990000;
	background-color : #FFFF99;
	padding : .5em;
	margin : 1em;
}

input.alert {
	background-color : #FFFF99;
	border-color: #900;
}

ol.bibliodetails {
	float: left;
	margin : 0 0 1em 1em;
}

ol.bibliodetails li {
	border-bottom: 1px solid #E8E8E8;
	list-style-type : none;
	padding : .1em;
}

ol.bibliodetails span.label {
	border-right : 1px solid #E8E8E8;
	float : left;
	font-weight: bold;
	width: 12em;  
	margin-right: 1em;  
}

div.listgroup {
	clear :  left;
}

div.listgroup h4 {
	font-style: italic;
}

div.listgroup h4 a {
	font-size :  80%;
}

div.listgroup input {
	font-size: 80%;
}

div.sysprefs h3 {
	margin : .2em 0 .2em .4em;
}

div.sysprefs dl {
	margin-left : 1.5em;
}

div.sysprefs div.hint {
	width : 25%;
	float : right;
	padding : .5em;
	margin : .7em;
}

tr.highlight td {
	background-color : #F6F6F6;
	border-color : #BCBCBC;
}

tr.highlight th[scope=row] {
	background-color : #DDDDDD;
	border-color : #BCBCBC;
}

tr.confirm td, tr.highlight.confirm td {
	background-color : #ffbfbf;
}

#circ_circulation_issue label {
	font-size: 105%;
	font-weight : bold;
}

#circ_circulation_issue div.hint {
	color : #666666;
	margin: .2em 0;
}

#circ_circulation_issue .date-select {
	font-size : 85%;
	padding-top : .3em;
}

#circ_circulation_issue .date-select label {
	font-size : inherit;
	font-weight: normal;
}

#circ_circulation_issue .date-select input {
	padding : 1px;
}

tr.expired td {
	color : #999999;
}

span.expired {
	color : #990000;
	font-style : italic;
}

div.help {
	margin: .9em 0 0 0;  
}

.blocker {
	color : #990000;
}

.circmessage li {
	list-style : url(../../img/arrow-bullet.gif);
	margin-bottom : .2em;
}

div.circmessage:first-child {
	margin-top : 1em;
}

div.circmessage {
	padding: 0 .4em .4em .4em;
	margin-bottom : .3em;
}

span.circ-hlt {
	color : #cc0000;
	font-weight : bold;
}

div.first fieldset {
	margin-right : 0;
}

#circ_needsconfirmation {
	margin : auto;
}

.dialog {
  border: 1px solid #bcbcbc;
	padding : .5em;
	margin : 1em auto;
  width: 65%;
  }
  
.dialog table {
	margin : .5em auto;
}

.dialog table th {
	text-align : right;
}

.dialog table td {
	text-align : left;
}
  
.dialog  h2, .dialog h3, .dialog h4 {
  	margin : auto;
	text-align : center;
  }
  
.dialog input {
 	background-color : #FFF;
 	border : 1px solid #bcbcbc;
	margin : .4em;
	padding : .4em .4em .4em 25px;
 }

 .dialog input[type="submit"] {
	background : #FFF none;
 }
 
.dialog input.approve, td input.approve {
 	background : #FFF url(../../img/approve.gif) no-repeat 4px center;
	padding : .4em .4em .4em 25px;	
 }
 
td input.approve {
	background-color : #FFC;
}

.dialog input.deny {
 	background : #FFF url(../../img/deny.gif) no-repeat 4px center;
	padding : .4em .4em .4em 25px;
 }

.dialog input.save {
	background: #fff url(../../img/toolbar-save.gif) no-repeat 4px center;
	color:black;
	padding: .4em .4em .4em 34px;
}

.dialog input.edit {
	background: #fff url(../../img/toolbar-edit.gif) no-repeat 4px center;
	color:black;
	max-width : 13em;
	padding: .4em .4em .4em 34px;
	white-space: normal;
}

.dialog input.new {
	background: #fff url(../../img/toolbar-new.gif) no-repeat 4px center;
	color:black;
	max-width : 13em;
	padding: .4em .4em .4em 34px;
	white-space: normal;
}

.dialog input.print {
 	background : #FFF url(../../img/print-confirm.gif) no-repeat 4px center;
	padding : .4em .4em .4em 25px;	
}

.dialog input:hover {
 	background-color : #ffc;
 }

div.alert {
  background : #FFC url(../../img/alert-bg.gif) repeat-x left 0;
  text-align : center;
}

div.alert strong {
	color : #900;
}

div.dialog {
  background : #FFC url(../../img/dialog-bg.gif) repeat-x left 0;
  text-align : center;
}

a.document {
	background-position : left middle;
	background-repeat : no-repeat;
	padding-left : 20px;
}

a.pdf {
	background-image : url("../../img/famfamfam/silk/page_white_acrobat.png");
}

a.csv {
	background-image : url("../../img/famfamfam/silk/page_white_excel.png");
}

a.xml {
	background-image : url("../../img/famfamfam/silk/page_white_code.png");
}

div.message {
	background : white url("../../img/message-bg.gif") repeat-x left 0;
  	border : 1px solid #bcbcbc;
  	text-align: center;
	width : 55%;
}

div.message ul,
div.message h5 {
	padding-left : 25%;
	text-align : left;
}

div.message ul+h4 {
	margin-top : .7em;
}

div.note {
	background: #f4f6fa;
	background-repeat : no-repeat;
	background-position : left center;
	background-image : url("../../img/note.png");
	background-image: url("../../img/note.png"), -moz-linear-gradient(top, #f4f6fa 0%, #e8edf6 100%); /* FF3.6+ */
	background-image: url("../../img/note.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f6fa), color-stop(100%,#e8edf6)); /* Chrome,Safari4+ */
	background-image: url("../../img/note.png"), -webkit-linear-gradient(top, #f4f6fa 0%,#e8edf6 100%); /* Chrome10+,Safari5.1+ */
	background-image: url("../../img/note.png"), -o-linear-gradient(top, #f4f6fa 0%,#e8edf6 100%); /* Opera11.10+ */
	background-image: url("../../img/note.png"), -ms-linear-gradient(top, #f4f6fa 0%,#e8edf6 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f6fa', endColorstr='#e8edf6',GradientType=0 ); /* IE6-9 */
	background-image: url("../../img/note.png"), linear-gradient(top, #f4f6fa 0%,#e8edf6 100%); /* W3C */
	border : 1px solid #BCBCBC;
	padding : .5em .5em .5em 20px;
	margin : .5em 0;
}
 
 div.results {
 	padding : .7em 0;
 }
 
 .accesskey {
 	text-decoration : underline;
 }
 
.required {
    color : #C00;
}

span.required {
	font-style : italic;
}

.term {
    background-color: #FFC;
	 color : #990000;
}

a .term {
	 text-decoration : underline;
}

/* style for shelving location in catalogsearch */
.shelvingloc {
    display : block;
    font-style : italic;
}

a:hover .term {
	color : #FF9090;
}

div#menu {
	border-right: 1px solid #000;
	margin-right: .5em;
	padding-top: 1em;
	padding-bottom: 2em;
}

*html #menu li {
	display : inline;
}

div#menu li a {
	text-decoration: none;
	display: block;
	background : #EEE url(../../img/side-tab-gradient.gif) repeat-y top right;
	border: 1px solid #000;
	font-size: 111%;
	margin: .5em 0;
	padding: .4em .3em;
	margin-right :  -1px;
}

div#menu li a:hover {
	background : #E8F0F6 url(../../img/side-tab-gradient-hover.gif) repeat-y top right;
}

div#menu li.active a:hover {
	background-color: #fff;
	color :  #0000CC;
}

#menu ul li {
	list-style-type: none;
}

#menu ul li.active a {
	background-color: #FFF;
	background-image : none;
	border-right: 0;
	font-weight: bold;
}

ul.error {
	background : #ffffcc;
	border : 1px solid #ff9090;
	margin : .5em;
	padding : .5em .5em .5em 1.5em;
	width : 75%
}

h1#logo {
	border:0pt none;
	float:left !important;
	margin:0;
	padding:0;
	width:180px;
}
h1#logo {
	background:transparent url(../../img/koha-logo-medium.gif) no-repeat scroll 0%;
	margin:0.75em .3em 0.75em .7em;
}

*html h1#logo {
	margin : 0.75em .3em 0.75em .3em;
}

h1#logo a {
	border:0;
	cursor:pointer;
	display:block;
	height:0px !important;
	margin:0;
	overflow:hidden;
	padding:44px 0 0;
	text-decoration:none;
	width:180px;
}

#closewindow {
	margin-top : 2em;
	text-align : center;
}

#closewindow a {
	font-weight : bold;	
}

.patroninfo+#menu {
	margin-right : 0;
}

.barcode {
	font-size :  200%;
}

li.email a {
	display:block;
	overflow:hidden;
	width:13em;
}
li.email {
	background: #FFF url(../../img/elipsis.gif) right bottom no-repeat;
	font-size :  87%;
	overflow:hidden;
	padding :0 10px 0 0;
	width:13em;
}

.empty {
	color : #CCC;
}

.address {
	font-size: 110%;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */

.title {
	font-weight : bold;
	font-size : 105%;
}

.hold {
	float : right;
	font-size: 90%;
	margin: 0;
}

.thumbnail {
	display : block;
	margin : auto;
}

#searchresults ul li {
	font-size : 90%;
	list-style : url(../../img/item-bullet.gif);
	padding : .2em 0;
        clear : left;
}

#searchresults span.status {
	clear : left;
	color : #900;
	display : block;
}

#searchresults span.unavailable {
	clear : left;
	display : block;
}

#searchresults .availability strong {
	display : block;
}

#searchresults ul li img {
	float : left;
	margin : 3px 5px 3px -5px;
}

#searchresults table td {
	vertical-align : top;
}

#searchheader {
	background-color : #f3f3f3;
	font-size : 80%;
	margin : 0 0 .5em -1px;
	padding : .1em 0 .1em 1em;
}

/* Hack just for Firefox */
html>/**/body #searchheader button, x:-moz-any-link, x:default {
	padding-bottom : 3px;
}

#searchheader h3 {
}

#searchheader form {
	float : right;
}

#searchheader form.fz3950 {
	float : right;
	font-size : 125%;
	padding : 0 0 0 5em;
}

#searchheader form.fz3950bigrpad {
	float : right;
	font-size : 125%;
	padding : 5px 25em 0 0;
}

#search-facets ul {
	margin : 0;
	padding : .3em;
}

#search-facets {
	border : 1px solid #e8e8e8;
}

#search-facets h4 {
	background-color : #F3F3F3;
	border-bottom : 1px solid #e8e8e8;
	font-size : 90%;
	margin : 0;
	padding : .4em .2em;
	text-align : center;
}

#search-facets ul li {
	font-weight : bold;
	list-style-type : none;
}

#search-facets li li {
	font-weight : normal;
	font-size : 85%;
	margin-bottom : 2px;
	padding : .1em .2em;
}

#search-facets li li a {
}

#search-facets li.showmore {
	font-weight : bold;
	text-indent : 1em;
}

div.pages {
	margin : .5em 0;
}

div.pages a {
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	text-decoration: none;
}

div.pages a:link,
div.pages a:visited {
	background-color : #eeeeee;
	color : #3366CC;
}

div.pages a:hover {
	background-color : #FFC;
}

div.pages a:active {
	background-color : #ffc;
}

div.pages .current,
div.pages .currentPage {
	background-color : #e6fcb7;
	color : #666;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
}

div.pages .inactive {
	background-color : #f3f3f3;
	color : #BCBCBC;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
}

div.browse {
	margin : .5em 0;
}

div#bookcoverimg {
	text-align : center;
}

div#header_search input.submit {
	font-size : 1em;
}

*html input.submit {
	padding : .1em;
}

input[type=submit]:active, input[type=button]:active, button.submit:active {
	border : 1px inset #999999;
}

input[type=submit], input[type=reset], input[type=button], input.submit, button.submit {
	border: 1px outset #999999;
	border-top-color: #666;
	border-left-color: #666;
	padding: 0.25em;
	background : #E8E8E8 url(../../img/button-bg.gif) top left repeat-x;
	color: #333333;
}

input[type=reset]:active, input[type=button]:active, input.submit:active, button.submit:active {
	border : 1px inset #999999;
}

ul li input.submit {
	font-size : 87%;
	padding : 2px;
}

input.warning {
    background : #FFF url(../../img/famfamfam/silk/error.png) no-repeat 4px center;
	padding : 0.25em 0.25em 0.25em 25px;
}

.searchhighlightblob {
    font-size:75%;
	font-style : italic;
}

a.yuimenuitemlabel:hover {
	background-color : #B3D4FF;
	color : #000;
}
		
#displayexample {
	padding: 5px; 
	margin-bottom: 10px;
	background-color: #CCCCCC;
}

#irregularity_summary {
	vertical-align : top;
}

#toplevelnav {
	float : left;
	margin-left : .5em;
	width : 30em;
}

ul#toplevelmenu {
	padding : 0;
}
		
ul#toplevelmenu li {
	display: inline;
	padding : 0 .6em;
}
		
ul#toplevelmenu li.more a {
	background-image:url(../../img/more-arrow.gif);
	background-position:right center;
	background-repeat:no-repeat;
	padding-right:13px;
}
		
ul#toplevelmenu li.more ul li a {
	background-image : none;
	padding-right : 20px;
}

ul#toplevelmenu li.more ul li a.yuimenuitemlabel {
	padding: .2em 20px .2em 20px;
}
		
ul#menu li a, ul#toplevelmenu li a {
	text-decoration : none;
}
ul#menu li ul li, ul#toplevelmenu li ul li {
	display :block;
	padding :0;
}
ul#menu li ul li a, ul#toplevelmenu li ul li a {
	text-decoration : none;
}

ul#i18nMenu {
 	margin : 0;
	padding : .2em 0;
 }
 
ul#i18nMenu li {
 	border-left : 1px solid #CCC;
 	display : inline;
	list-style : none;
	padding : 0 10px;
 }
 
ul#i18nMenu li:first-child {
 	border-left : 0;
 }
 
ul#i18nMenu li ul li {
 	border : 0;
 	display : block;
	padding : 0;
 }
 
 		
ul#i18nMenu li.more a {
	background-image:url(../../img/more-up-arrow.gif);
	background-position:right center;
	background-repeat:no-repeat;
	padding-right:13px;
}
		
ul#i18nMenu li.more ul li a {
	background-image : none;
	padding-right : 20px;
}
 
 div#changelanguage{
	background-color: #fff;
	border-top: 1px solid #CCC;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height: 2em;
 }
 
 @media screen{
  body>div#changelanguage {
   position: fixed;
  }
 }
 
 * html body{
  overflow:hidden;
 } 
 
 * html div#doc1{
  height:100%;
  overflow:auto;
 }
  
 * html div#doc2{
  height:100%;
  overflow:auto;
 }
  
 * html div#doc3{
  height:100%;
  overflow:auto;
 }

#CheckAll, #CheckNone, #CheckPending {
	font-weight : normal;
	margin : 0 .5em 0 0;
}
.lost,.dmg,.wdn {
	display : block;
	color : #990000;
}
.datedue {
	display : block;
	color : #999;
	font-style : italic;
}
/* Tablesorter */
.header {
	background-image:url("../../img/ascdesc.gif");
	background-position:right center;
	background-repeat:no-repeat;
	cursor:pointer;
	padding : .2em 23px;
}
.headerSortUp {
	background-image:url("../../img/asc.gif");
}
.headerSortDown {
	background-image:url("../../img/desc.gif");
}

tr.reserved td {
	background-color : #eeffd4;
}
tr.transfered td {
	background-color : #e8f0f6;
}
.waitinghere,
.credit {
	color : #669900;
}

/* Permissions Labels */
label.permissioncode:before {
	content: "(";
}
label.permissioncode:after {
	content: ")";
}
label.permissioncode {
	font-style : italic;
}
span.permissiondesc {
	font-weight : normal;
}
#mainuserblock {
	border : 1px solid #E8E8E8;
	margin-top : .5em;
	padding : .5em;
}


/* borrower autocomplete */
#borrowerautocomplete { width: 450px; text-align:left;} /* z-index needed on top instances for ie & sf absolute inside relative issue */
.autocomplete .yui-ac-highlight ,
.autocomplete .yui-ac-highlight .sample-result,
.autocomplete .yui-ac-highlight .sample-query { color:#FFF; }
.autocomplete .sample-result { color: black; }
.autocomplete .sample-query { color:#000; }
#findborrower { position:static; width:auto; }
#yborrowercontainer { text-align:left;width:335px; }

/* patron attribues autocomplete for overdues report (pattrodue) */
.pattrodue-autocomplete .pattrodue-result { color: black; }
.pattrodue-autocomplete .yui-ac-highlight .pattrodue-result { color: white; }
.pattrodue-input { position:static; width:auto; }
.pattrodue-container { text-align:left; width:400px; }

.labeledmarc-table {
	border: 0;
}

.labeledmarc-label {
	border: 0;
	padding: 5;
	font-size: 11pt;
	color: darkblue;
}

.labeledmarc-value {
	border: 0;
	padding: 5;
	font-size: 10pt;
	color: black;
}

.hintsClass {
    font-family: tahoma, verdana, arial;
    font-size: 12px;
    background-color: #f0f0f0;
    color: #000000;
    border: 1px solid #808080;
    padding: 5px;
}
.hintSource {
    color: green;
    text-decoration: underline;
    cursor: pointer;
}

#cartDetails {
	background-color : #FFF;
	border: 1px solid #739acf;
	 -moz-box-shadow: 1px 1px 3px 0 #666;
	 -webkit-box-shadow: 1px 1px 3px 0 #666;
	 box-shadow: 1px 1px 3px 0 #666;
	color : black;
	display : none;
	margin : 0;
	padding : 10px;
	text-align : center;
	width : 180px;
	z-index : 50;
}
#cartmenulink {
        background: transparent url("../../img/cart-small.gif") 0 3px no-repeat;
        padding-left : 15px;
}
#cartmenulink span#basketcount span {
	display : inline;
	font-size : 90%;
	font-weight : normal;
	padding : 0;
}
#moremenu {
        display : none;
}

.results_summary {
  display: block;
  font-size : 85%; 
  color: #707070;
  padding : 0 0 .5em 0;
}
.results_summary .label {
  color: #202020;
}
.results_summary a {
  font-weight: normal;
}

img.spinner {
    vertical-align: middle;
    padding-right: 0.3em;
}
ul.budget_hierarchy {
    margin-left: 0px;
    padding-left: 0px;
}
ul.budget_hierarchy li {
    display: inline;
}
ul.budget_hierarchy li:after {
    content: " -> ";
}
ul.budget_hierarchy li:last-child:after {
    content: "";
}
ul.budget_hierarchy li:first-child:after {
    content: "";
}
.holdcount { font-size : 105%; line-height : 200%; }
.holdcount a { border : 1px solid #a4bedd; background-color : #e4ecf5; font-weight : bold; -moz-border-radius: 4px; padding : .1em .4em; text-decoration : none; }
.holdcount a:hover { background-color : #ebeff7; }
.container {
	border : 1px solid #EEE;
	padding : 1em;
	margin : 1em 0;
}
fieldset.rows+h3 {clear:both;padding-top:.5em;}

.import_export{
    position:relative;
}
.import_export .import_export_options{
    background: white;
    border: 1px solid #CDCDCD;
    left: 60px;
    padding: 10px;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 300px;
}
.import_export_options li{
    display: block;
    list-style: none;
    padding-top: 10px;
}
.import_export_options .import_export_close {
    cursor: pointer;
    text-decoration: underline;
}
.import_export_options .export_ok {
    padding: 10;
    background: #E3E3E3 none;
    cursor: pointer;
    margin-left: 20px;
    border: none;
}
.import_export_options .import_ok {
    padding: 10;
    background: #E3E3E3 none;
    cursor: pointer;
    margin-left: 20px;
    border: none;
}
.form_import .input_import {
    border: 1px solid #bcbcbc;
}
.import_export_options .importing {
    padding: inherit;
    background: none;
}
.li_close_import_export {
    text-align: right;
}

.importing {
    position: relative;
}

.importing .importing_msg {
    padding-left: 10px;
    padding-bottom: 10px;
}

.m880 {
    display:block; 
    text-align:right; 
    float:right; 
    width:50%; 
    padding-left:20px
}

#advanced-search fieldset {
	border : 1px solid #EEE;
	-moz-border-radius : 3px;
	border-radius : 3px;
}

#advanced-search fieldset.action {
	border : 0;
}

#advanced-search fieldset fieldset {
	border : 1px solid #EEE;
	margin : 0;
	padding : .3em .5em;
	-moz-border-radius : 0;
	border-radius : 0;
}
#advanced-search fieldset fieldset+fieldset {
	border-top : 0;
}
#advanced-search table {
	border-spacing : 5px;
	border-collapse : separate;
	border-width : 0;
}
#advanced-search td {
	border : 1px solid #EEE;
	padding : 0.3em 0.4em;
}
#circ_circulation_issue {
    position: relative;
    }

#clearscreen {
    margin-right: 0;
    position: absolute;
    top:0;
    right:0;
    }
/* CSS Hack to target Firefox */
@-moz-document url-prefix() {
    #clearscreen {
        margin-right : 1em;
        top: -1em;
    }
}
#clearscreen a {
    display:block;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
    padding : 0 .7em .2em .7em;
    background-color : #EEE;
    color : #CCC;
    text-shadow: 0px -1px 0px #666;
    text-decoration: none;
    font-size: 160%;
    font-weight : bold
    }
#clearscreen a:hover {
    color : #cc0000;
    }

