[% INCLUDE 'doc-head-open.inc' %]
<title>Koha &rsaquo; Patrons [% IF ( searching ) %]&rsaquo; Search Results[% END %]</title>
[% INCLUDE 'doc-head-close.inc' %]
	<style type="text/css">
   		#custom-doc { width:47.23em;*width:46.04em;min-width:600px; margin:auto; text-align:left; }
   	</style>
<script type="text/javascript" src="[% themelang %]/lib/jquery/plugins/jquery.checkboxes.min.js"></script>
<script type="text/javascript">
//<![CDATA[
$(document).ready(function(){
    $("#CheckAll").click(function(){
		$(".checkboxed").checkCheckboxes();
	        return false;
    });
    $("#CheckNone").click(function(){
        $(".checkboxed").unCheckCheckboxes();
        return false;
    });
});
function add_item(borrowernum,batch_id,type_id){
 var getstr='';
 if (borrowernum == 'checked') {
    itms= new Array;
    if(document.resultform.borrowernumber.length > 0) {
        for (var i=0; i < document.resultform.borrowernumber.length; i++) {
            if (document.resultform.borrowernumber[i].checked) {
                itms.push("borrower_number=" +  document.resultform.borrowernumber[i].value);
            }
        }
        getstr = itms.join("&");
    } else {
        getstr = "borrower_number="+document.resultform.borrowernumber.value;
    }
  } else {
		getstr = "borrower_number="+borrowernum;
    }
 	var myurl = "edit-batch.pl?op=add&batch_id="+batch_id+"&"+getstr;
	window.opener.location.href = myurl;
}
//]]>
</script>
</head>
<body>

<div id="custom-doc" class="yui-t7">
  <div id="bd">
	<div class="yui-g">
<h3>Patron Search</h3>

<div class="browse">
    Browse by last name:
    <a href="/cgi-bin/koha/patroncards/members-search.pl?member=a&amp;batch_id=[% batch_id %]">A</a>
    <a href="/cgi-bin/koha/patroncards/members-search.pl?member=b&amp;batch_id=[% batch_id %]">B</a>
    <a href="/cgi-bin/koha/patroncards/members-search.pl?member=c&amp;batch_id=[% batch_id %]">C</a>
    <a href="/cgi-bin/koha/patroncards/members-search.pl?member=d&amp;batch_id=[% batch_id %]">D</a>
    <a href="/cgi-bin/koha/patroncards/members-search.pl?member=e&amp;batch_id=[% batch_id %]">E</a>
    <a href="/cgi-bin/koha/patroncards/members-search.pl?member=f&amp;batch_id=[% batch_id %]">F</a>
    <a href="/cgi-bin/koha/patroncards/members-search.pl?member=g&amp;batch_id=[% batch_id %]">G</a>
    <a href="/cgi-bin/koha/patroncards/members-search.pl?member=h&amp;batch_id=[% batch_id %]">H</a>
    <a href="/cgi-bin/koha/patroncards/members-search.pl?member=i&amp;batch_id=[% batch_id %]">I</a>
    <a href="/cgi-bin/koha/patroncards/members-search.pl?member=j&amp;batch_id=[% batch_id %]">J</a>
    <a href="/cgi-bin/koha/patroncards/members-search.pl?member=k&amp;batch_id=[% batch_id %]">K</a>
    <a href="/cgi-bin/koha/patroncards/members-search.pl?member=l&amp;batch_id=[% batch_id %]">L</a>
    <a href="/cgi-bin/koha/patroncards/members-search.pl?member=m&amp;batch_id=[% batch_id %]">M</a>
    <a href="/cgi-bin/koha/patroncards/members-search.pl?member=n&amp;batch_id=[% batch_id %]">N</a>
    <a href="/cgi-bin/koha/patroncards/members-search.pl?member=o&amp;batch_id=[% batch_id %]">O</a>
    <a href="/cgi-bin/koha/patroncards/members-search.pl?member=p&amp;batch_id=[% batch_id %]">P</a>
    <a href="/cgi-bin/koha/patroncards/members-search.pl?member=q&amp;batch_id=[% batch_id %]">Q</a>
    <a href="/cgi-bin/koha/patroncards/members-search.pl?member=r&amp;batch_id=[% batch_id %]">R</a>
    <a href="/cgi-bin/koha/patroncards/members-search.pl?member=s&amp;batch_id=[% batch_id %]">S</a>
    <a href="/cgi-bin/koha/patroncards/members-search.pl?member=t&amp;batch_id=[% batch_id %]">T</a>
    <a href="/cgi-bin/koha/patroncards/members-search.pl?member=u&amp;batch_id=[% batch_id %]">U</a>
    <a href="/cgi-bin/koha/patroncards/members-search.pl?member=v&amp;batch_id=[% batch_id %]">V</a>
    <a href="/cgi-bin/koha/patroncards/members-search.pl?member=w&amp;batch_id=[% batch_id %]">W</a>
    <a href="/cgi-bin/koha/patroncards/members-search.pl?member=x&amp;batch_id=[% batch_id %]">X</a>
    <a href="/cgi-bin/koha/patroncards/members-search.pl?member=y&amp;batch_id=[% batch_id %]">Y</a>
    <a href="/cgi-bin/koha/patroncards/members-search.pl?member=z&amp;batch_id=[% batch_id %]">Z</a>
</div>

<form method="get" action="/cgi-bin/koha/patroncards/members-search.pl"><p>
<input type="hidden" name="batch_id" value="[% batch_id %]" />
<input type="hidden" name="type" value="[% type %]" />
<label for="member">Name</label>
<input id="member" name="member" />
<label for="category">Category code</label>
<input id="category" name="category" />
<input type="submit" value="Search" /></p>
</form>

[% IF ( resultsloop ) %]
<div id="searchheader"> <h3>Results [% from %] to [% to %] of [% numresults %] found for [% IF ( member ) %]name: '<span class="ex">[% member %][% ELSIF ( category_type ) %]category code: '<span class="ex">[% category_type %][% END %]</span>'</h3></div>
[% IF ( paginationbar ) %]<div id="pagination_top" class="pages">[% paginationbar %]</div>[% END %]
<form name="resultform" action="/cgi-bin/koha/patroncards/members-search.pl" method="get" class="checkboxed"><div style="float: right; margin-top: .5em;"><input type="submit" class="icon addchecked" value="Add checked" onclick="add_item('checked',[% batch_id %]); return false" /> <input type="button" class="close" value="Done" /></div>
<div style="line-height: 2em; margin-left: .7em;"><a id="CheckAll" href="/cgi-bin/koha/patroncards/members-search.pl">Select All</a><a id="CheckNone" href="/cgi-bin/koha/patroncards/members-search.pl">Clear All</a></div>
<div class="searchresults">

    <table style="float: left; margin: .5em 0;">
    <tr>
    <th><label style="font-weight:bold;">Select</label></th>
    <th><a href="members-search.pl?member=[% member %]&amp;category=[% category_type %]&amp;batch_id=[% batch_id %]&amp;orderby=cardnumber">Card</a></th>
    <th><a href="members-search.pl?member=[% member %]&amp;category=[% category_type %]&amp;batch_id=[% batch_id %]&amp;orderby=surname">Name</a></th>
    <th><a href="members-search.pl?member=[% member %]&amp;category=[% category_type %]&amp;batch_id=[% batch_id %]&amp;orderby=borrowers.categorycode">Category</a></th>
    <th><a href="members-search.pl?member=[% member %]&amp;category=[% category_type %]&amp;batch_id=[% batch_id %]&amp;orderby=branchcode">Library</a></th>
    <th>Expires on</th>
    <th>Notes</th>
    <th></th>
    </tr>
    [% FOREACH resultsloo IN resultsloop %]
    [% UNLESS ( loop.odd ) %]
    <tr class="highlight">
    [% ELSE %]
    <tr>
    [% END %]
    <td> <input type="checkbox" name="borrowernumber" id="patron[% resultsloo.borrowernumber %]" value="[% resultsloo.borrowernumber %]" />	</td>
    <td>[% resultsloo.cardnumber %]</td>
    <td style="white-space: nowrap;"><a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=[% resultsloo.borrowernumber %]">[% resultsloo.surname %], [% resultsloo.firstname %]</a> <br /> [% resultsloo.address %][% IF ( resultsloo.address2 ) %]<br />[% resultsloo.address2 %][% END %][% IF ( resultsloo.city ) %]<br />[% resultsloo.city %][% END %]</td>
    <td>[% resultsloo.category_description %] ([% resultsloo.category_type %])</td>
    <td>[% resultsloo.branchcode %]</td>
    <td>[% resultsloo.dateexpiry %]</td>
    <td>[% resultsloo.borrowernotes %]</td>
    <td><a onclick="add_item('[% resultsloo.borrowernumber %]',[% batch_id %]); return false" href="/cgi-bin/koha/patroncards/edit-batch.pl?borrower_number=[% resultsloo.borrowernumber %]&amp;batch_id=[% batch_id %]&amp;op=add">Add</a></td>
    </tr>
    [% END %]
    </table>
	</div>
</form>

[% ELSE %]
[% IF ( searching ) %]
No results found
[% END %]
[% END %]

</div>
</div>
[% INCLUDE 'popup-bottom.inc' %]
