[% INCLUDE 'help-top.inc' %]

<h1>Tags</h1>

<p>Depending on your tagging system preferences, librarians may need to approve tags before they are published on the OPAC. This is done via the Tag Moderation Tool.</p>

<p>When first visiting the tool, you will be presented with a list of tags that are pending approval or rejection by a librarian</p>

<ul><li>To approve a tag, you can either click the 'Approve' button inline with the term, or check all terms you want to approve and click 'Approve' below the table.</li>
<li>To reject a tag, you can either click the 'Reject' button inline with the term, or check all terms you want to approve and click 'Reject' below the table.</li>
</ul>

<p>Once a tag has been approved or rejected it will be moved to the appropriate list of tags. A summary of all tags will appear on the right of the screen.</p>

<p>Even though a tag is approved or rejected, it can still be moved to another list. When viewing approved tags each tag has the option to reject.</p>

<p>To check terms against the approved and rejected lists (and possibly against the dictionary you have assigned for tag moderation) simply enter the term into the search box on the bottom right of the screen to see the status of the term</p>
   
[% INCLUDE 'help-bottom.inc' %]