[% INCLUDE 'help-top.inc' %]

<h1>Add a Custom Report</h1>

<p>If the report you need is not already available, the 'Guided Reports' Wizard will walk you through creating a custom report.</p>


<ul>
<li>Go to the 'Reports' module (usually under 'More' in your Global Nav)</li>
<li>Choose 'Guided Reports' under 'Guided Reports Wizard'</li>
</ul>

<p>Answer the 6 questions presented in order to create your report.</p>

<p><strong>Step 1: Choose a Module to Report on</strong></p>
<ul>
<li>Choose a Koha module to build a report on (patrons, circ, cataloging, etc)</li>
<li>Click 'Next'</li>
</ul>

<p><strong>Step 2: Pick a Report Type</strong></p>
<ul><li style="color: #990000">IMPORTANT: Only Tabular should be chosen with this option</li></ul>
<p><strong>Step 3: Select Columns for Display</strong></p>
<p><strong>Step 4: Select Criteria to Limit</strong></p>
<ul><li>This is optional, if you don't want to limit results by any one field, just leave this section blank.</li></ul>
<p><strong>Step 5: Pick which columns to perform mathmatical functions on</strong></p>
<ul><li>This is optional, if you don't want to do any math on the results, just leave this section blank.</li></ul>
<p><strong>Step 6: Choose how you want the report ordered</strong></p>
<ul><li>This is optional, if you want the results to come out as they are in the table, just leave this section blank.</li></ul>

<h1>Edit Reports</h1>

<p>Custom reports can be edited in their entirety from the Saved Guided Reports page.</p>

<ul><li><em>Get there:</em> More > Reports > Guided Reports > Use Saved</li></ul>

<ul><li>To edit a report click 'Edit SQL' beside the report</li>
<li>A page with editable fields will open so that you can change the title, notes and SQL related to the report</li></ul>


<h1>Questions</h1>

<p><strong>Can I have reports run on a schedule?</strong></p>

<p>Yes, you can use the Task Scheduler tool.</p>

<ul><li><em>Get there:</em> More > Tools > Task Scheduler</li></ul>

<p><strong>Is there a repository for reports?</strong></p>

<p>There is a page on the Koha Wiki: <a href="http://wiki.koha-community.org/wiki/SQL_Reports_Library" target="_new">http://wiki.koha-community.org/wiki/SQL_Reports_Library</a> with reports written by Koha libraries around the world.</p>

<p>NEKLS also has a great page (<a href="http://www.nexpresslibrary.org/training/reports-training/" target="_new">http://www.nexpresslibrary.org/training/reports-training/</a>) with a list of reports they have written.</p>

<p><strong>Can I have run-time defined parameters?</strong></p>

<p>Yes, you can: there is a specific syntax that Koha will understand as 'ask for values when running the report'. The syntax is &lt;&lt;Question to ask|authorised_value&gt;&gt;.</p>
<ul>
<li>The &lt;&lt; and &gt;&gt; are just delimiters. You must put &lt;&lt; at the beginning and &gt;&gt; at the end of your parameter</li>
<li>The <strong>Question to ask</strong> will be displayed on the left of the string to enter. 
<li>The <strong>authorised_value</strong> can be omitted if not applicable. If it contains an authorised value category, or <strong>branches</strong> or <strong>itemtype</strong> or <strong>categorycode</strong>, a list with the Koha authorised values will be displayed instead of a free field</li>
</ul>
<p>Note that you can have more than one parameter in a given SQL</p>
<p>Note that entering nothing at run time won't probably work as you expect. It will be considered as "value empty" not as "ignore this parameter". For example entering nothing for : "title=&lt;&lt;Enter title&gt;&gt;" will display results with title='' (no title). If you want to have to have something not mandatory, use "title like &lt;&lt;Enter title&gt;&gt;" and enter a % at run time instead of nothing</p>
<p>Sample :</p>
<ul><li>SELECT surname,firstname FROM borrowers WHERE branchcode=&lt;&lt;Enter patrons library|branches&gt;&gt; AND surname like &lt;&lt;Enter filter for patron surname (% if none)&gt;&gt;</li></ul>

[% INCLUDE 'help-bottom.inc' %]
