[% INCLUDE 'help-top.inc' %]

<h1>Patrons help</h1>

<p>The Patrons portion stores the information you add about your patrons.</p>
	<ul>
		<li>To add a patron, type their name into the search box and click the 'Search' button.</li>
		<li>If there is already a patron matching the name you searched, it will show on the results list.<br/>
		<ul>
			<li>This can be particularly useful when people have lost their cards or when children forget their cards. That way, you can avoid having multiple numbers for the same patron.</li>
		</ul></li>
		<li>Alternatively, you can browse a section of patron by selecting the first letter of the Patron's last name from the list on the right.</li>
		<li>If the patron does not already have an account, click the 'New' button and choose the patron type you'd like to add</li>
	</ul>
	
[% INCLUDE 'help-bottom.inc' %]