[% INCLUDE 'doc-head-open.inc' %]
[% IF ( LibraryNameTitle ) %][% LibraryNameTitle %][% ELSE %]Koha Online[% END %] Catalog &rsaquo;
[% IF ( searchdesc ) %]
	Results of Search [% IF ( query_desc ) %]for '[% query_desc %]'[% END %][% IF ( limit_desc ) %]&nbsp;with limit(s):&nbsp;'[% limit_desc %]'[% END %]
[% ELSE %]
    You did not specify any search criteria.
[% END %]
[% INCLUDE 'doc-head-close.inc' %]
<link rel="alternate" type="application/rss+xml" title="[% LibraryName |html %] Search RSS Feed" href="[% OPACBaseurl %]/cgi-bin/koha/opac-search.pl?[% query_cgi |html %][% limit_cgi |html %]&amp;count=[% countrss |html %]&amp;sort_by=acqdate_dsc&amp;format=rss2" />


<script type="text/javascript" src="[% themelang %]/lib/jquery/plugins/jquery.checkboxes.min.js"></script>
[% IF ( OpacHighlightedWords ) %]<script type="text/javascript" src="[% themelang %]/lib/jquery/plugins/jquery.highlight-3.js"></script>
[% END %]<script type="text/javascript">
//<![CDATA[
[% IF ( opacuserlogin ) %][% IF ( RequestOnOpac ) %]
function holdMultiple() {
    var checkedBiblioNums = ""; // Separated by "/"
    var checkedCount = 0;
    if(document.bookbag_form.biblionumber.length > 0) {
        for (var i=0; i < document.bookbag_form.biblionumber.length; i++) {
            if (document.bookbag_form.biblionumber[i].checked) {
                checkedBiblioNums += (document.bookbag_form.biblionumber[i].value + "/");
                checkedCount++;
            }
        }
    }

    if (checkedCount > 0) {
        holdBiblioNums(checkedBiblioNums);
    } else {
        alert(MSG_NO_RECORD_SELECTED);
    }
}

function holdBiblioNums(numList) {
    // numList: biblio numbers separated by "/"
    $("#hold_form_biblios").attr("value", numList);
    $("#hold_form").submit();
}[% END %]

[% IF ( TagsEnabled ) %]
function tagSelected() {
    var checkedBoxes = $(".searchresults :checkbox:checked");
    if ($(checkedBoxes).size() == 0) {
        alert(MSG_NO_RECORD_SELECTED);
    } else {
        $("#tagsel_tag").hide();
        $("#sort_by").hide();
        $("#tagsel_form").show();
    }
}

function tagCanceled() {
    $("#tagsel_form").hide();
    $("#tagsel_tag").show();
    $("#sort_by").show();
}

function tagAdded() {
    var checkedBoxes = $(".searchresults :checkbox:checked");
    if ($(checkedBoxes).size() == 0) {
        alert(MSG_NO_RECORD_SELECTED);
        return false;
    }

    var tag = $("#tagsel_new").val();
    if (!tag || (tag == "")) {
        return false;
    }

    var bibs = [];
    for (var i = 0; i < $(checkedBoxes).size(); i++) {
        var box = $(checkedBoxes).get(i);
        bibs[i] = $(box).val();
    }

    KOHA.Tags.add_multitags_button(bibs, tag);
    return false;
}[% END %][% END %]
[% IF ( OpacHighlightedWords ) %]
var q_array = new Array();  // holds search terms if available

function highlightOff() {
    $("td").removeHighlight();
    $(".highlight_toggle").toggle();
}
function highlightOn() {
    var x;
    for (x in q_array) {
    	$(".title").highlight(q_array[x]);
    	$(".author").highlight(q_array[x]);
        $(".results_summary").highlight(q_array[x]);
    }
    $(".highlight_toggle").toggle();
}
[% END %]
$(document).ready(function(){
	[% IF ( opacbookbag ) %]$(".addtocart").show();[% END %]

[% IF ( opacbookbag ) %]
	[% IF ( virtualshelves ) %]
	var param1 = "<label for=\"addto\">"+_("Add to: ")+"<\/label><select name=\"addto\" id=\"addto\"><option value=\"\"><\/option>";
	[% IF ( opacbookbag ) %]	param1 += "<option value=\"addtocart\">"+_("Cart")+"<\/option>";
	[% END %][% IF ( virtualshelves ) %][% IF ( loggedinusername ) %][% IF ( addbarshelves ) %]
	param1 += "<optgroup label=\""+_("Your Lists:")+"\">";[% FOREACH addbarshelvesloo IN addbarshelvesloop %]
	param1 += "<option id=\"s[% addbarshelvesloo.shelfnumber %]\" value=\"addtolist\">[% addbarshelvesloo.shelfname |html %]<\/option>";[% END %]
    [% IF ( bartotal ) %]param1 += "<option value=\"morelists\">[ "+_("More lists")+" ]<\/option>";[% END %]
	param1 += "<\/optgroup>";[% END %]
	[% IF ( addpubshelves ) %]param1 += "<optgroup label=\""+_("Public Lists:")+"\">"[% FOREACH addpubshelvesloo IN addpubshelvesloop %]+"<option id=\"s[% addpubshelvesloo.shelfnumber %]\" value=\"addtolist\">[% addpubshelvesloo.shelfname |html %]<\/option>";[% END %][% END %]
	param1 += "<\/optgroup>";
    param1 += "<option value=\"newlist\">[ "+_("New List")+" ]<\/option>";
	[% END %]
	[% END %]
	param1 += "<\/select> <input type=\"submit\" class=\"submit\" value=\""+_("Save")+"\" />";
	[% ELSE %]
		var param1 = "<a id=\"addto\" class=\"addtocart\" href=\"#\">Add to Cart<\/a>";
	[% END %]
[% ELSE %]
		var param1 = "<label for=\"addto\">"+_("Add to list: ")+"<\/label><select name=\"addto\" id=\"addto\"><option value=\"\"><\/option>";
[% IF ( virtualshelves ) %][% IF ( loggedinusername ) %][% IF ( addbarshelves ) %]
	param1 += "<optgroup label=\""+_("Your Lists:")+"\">";[% FOREACH addbarshelvesloo IN addbarshelvesloop %]
	param1 += "<option id=\"s[% addbarshelvesloo.shelfnumber %]\" value=\"addtolist\">[% addbarshelvesloo.shelfname |html %]<\/option>";[% END %]
	param1 += "<\/optgroup>";[% END %]
	[% IF ( addpubshelves ) %]param1 += "<optgroup label=\""+_("Public Lists:")+"\">"[% FOREACH addpubshelvesloo IN addpubshelvesloop %]+"<option id=\"s[% addpubshelvesloo.shelfnumber %]\" value=\"addtolist\">[% addpubshelvesloo.shelfname |html %]<\/option>"[% END %][% END %]
	param1 +="<\/optgroup><option value=\"newlist\">[ "+_("New List")+" ]<\/option>"
	[% END %]
	[% END %]
	param1 += "<\/select> <input type=\"submit\" class=\"submit\" value=\""+_("Save")+"\" />";
[% END %]

	$('#sortsubmit').hide();
    $('#sort_by').change(function() {
        $('#bookbag_form').submit();
    });
	$("span.clearall").html("<a id=\"CheckNone\" href=\"#\">"+_("Clear All")+"<\/a>");
	$("span.checkall").html("<a id=\"CheckAll\" href=\"#\">"+_("Select All")+"<\/a>");
[% IF ( opacbookbag ) %]$("span.addto").html(param1);[% ELSE %][% IF ( virtualshelves ) %][% IF ( loggedinusername ) %]$("span.addto").html(param1);[% END %][% END %][% END %]
[% IF ( opacbookbag ) %]
	[% IF ( virtualshelves ) %]
	$("#addto").change(function(){
		cartList();
	});
	$(".addto").find("input:submit").click(function(){
		cartList();
		return false;
	});
	[% ELSE %]
	$("#addto").click(function(){
		cartList();
		return false;
	});
	[% END %]
[% END %]
    [% IF ( opacuserlogin ) %][% IF ( TagsEnabled ) %]$("#tagsel_span").html("<input id=\"tagsel_tag\" class=\"submit\" type=\"submit\" value=\"Tag\"/>");[% END %][% END %]

	function cartList(){
		if($("#addto").find("option:selected").attr("value") == "addtolist"){
			var shelfnumber = $("#addto").find("option:selected").attr("id").replace("s","");
			if (vShelfAdd()) {
			Dopop('/cgi-bin/koha/opac-addbybiblionumber.pl?selectedshelf='+shelfnumber+'&' + vShelfAdd());
			}
			return false;
		} else if($("#addto").find("option:selected").attr("value") == "newlist"){
			[% IF ( loggedinusername ) %]if (vShelfAdd()) {
			Dopop('/cgi-bin/koha/opac-addbybiblionumber.pl?newshelf=1&' + vShelfAdd());
			}[% ELSE %] alert(_('You must be logged in to create or add to Lists')); [% END %]
			return false;
        } else if($("#addto").find("option:selected").attr("value") == "morelists"){
            [% IF ( loggedinusername ) %]if (vShelfAdd()) {
            Dopop('/cgi-bin/koha/opac-addbybiblionumber.pl?' + vShelfAdd());
            }[% ELSE %] alert(_('You must be logged in to create or add to Lists')); [% END %]
            return false;
		}
		if($("#addto").find("option:selected").attr("value") == "addtocart" || $("#addto").attr("class") == "addtocart"){
			addMultiple();
			return false;
		 }
	}
    $("#CheckAll").click(function(){
        $("#bookbag_form").checkCheckboxes();
        return false;
    });
    $("#CheckNone").click(function(){
        $("#bookbag_form").unCheckCheckboxes();
        return false;
    });
[% IF ( RequestOnOpac ) %]
  [% IF ( opacuserlogin ) %]
  [% IF ( DisplayMultiPlaceHold ) %]
    $("#placehold").html("<input class=\"submit\" type=\"submit\" value=\""+_("Place Hold")+"\"/>");
	$("#placehold").find("input:submit").click(function(){
        holdMultiple();
		return false;
	});
  [% END %]
  [% END %]
[% END %]
    $("#holdDetails").hide();

[% IF ( query_desc ) %][% IF ( OpacHighlightedWords ) %]var query_desc = "[% query_desc |replace("'", "\'") |replace('"', '\"') |replace('\n', '\\n') |replace('\r', '\\r') %]";
        q_array = query_desc.split(" ");
        highlightOn();
        $("#highlight_toggle_on" ).hide().click(function() {highlightOn() ;});
        $("#highlight_toggle_off").show().click(function() {highlightOff();});[% END %][% END %]

[% IF ( opacuserlogin ) %]    [% IF ( TagsEnabled ) %]
        $(".tagbutton").click(KOHA.Tags.add_tag_button);
        [% IF ( TagsInputOnList ) %]
        [% IF ( loggedinusername ) %]
            $("#tagsel_tag").click(function(){
                tagSelected();
                return false;
            });
            $("#tagsel_cancel").click(function(){
                tagCanceled();
                return false;
            });
            $("#tagsel_button").click(function(){
                tagAdded();
                return false;
            });
        [% ELSE %]
            $("#tagsel_tag").click(function(){
                window.location = "/cgi-bin/koha/opac-user.pl";
                return false;
            });
        [% END %]
        [% END %]
    [% END %][% END %]
    [% IF OpenLibraryCovers %]KOHA.OpenLibrary.GetCoverFromIsbn();[% END %]
    [% IF ( GoogleJackets ) %]KOHA.Google.GetCoverFromIsbn();[% END %]
});
//]]>
</script>
</head>
<body id="results">
	[% IF ( opacfacets ) %]<div id="doc3" class="yui-t1">[% ELSE %]<div id="doc3" class="yui-t7">[% END %]
   <div id="bd">

[% INCLUDE 'masthead.inc' %]


	<div id="yui-main">
	<div class="yui-b">
	<div id="userresults" class="container">
  [% IF ( koha_spsuggest ) %]
	Did you mean:
    <ul style="list-style: none;">
        [% FOREACH SPELL_SUGGES IN SPELL_SUGGEST %]
        <li>
            <a href="/cgi-bin/koha/opac-search.pl?q=[% SPELL_SUGGES.spsuggestion %]">[% SPELL_SUGGES.spsuggestion %]</a>
        </li>
        [% END %]
    </ul>
[% END %]

[% IF ( query_error ) %]
<div class="dialog alert">
	<h4>Error:</h4>
    [% query_error %]
</div>
[% END %]

<!-- Search Results Table -->
[% IF ( total ) %]
[% IF ( scan ) %]
    <h1>Scan Index:</h1>
    <form action="/cgi-bin/koha/opac-search.pl" method="get">
        <table>
            <tr>
                <td>
                    Scan Index for: <input type="text" name="q" id="scan-index" size="35" value="" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="scan-index">Indexed in:</label>
                    <select name="idx" id="scan-index">
                        <option value="">Any Word</option>
                        <option value="kw,phr:">Any Phrase</option>
                        <option value="ti:">Title</option>
                        <option value="ti,phr:">Title Phrase</option>
                        <option value="au,phr:">Author</option>
                        <option value="su:">Subject</option>
                        <option value="su,phr:">Subject Phrase</option>
                        <option value="se:">Series</option>
                        <option value="pb:">Publisher</option>
                        <option value="nt:">Notes</option>
                        <option value="se:">Series Title</option>
                        <option value="sn:">ISBN</option>
                        <option value="ss:">ISSN</option>
                    </select>
                    <input type="hidden" name="scan" value="1" />
                </td>
            </tr>
        </table>
    </form>

    <form action="/cgi-bin/koha/opac-search.pl" method="get">
        <table>
            <tr>
                <th>Term/Phrase</th>
                <th>Count</th>
            </tr>
            [% FOREACH SEARCH_RESULT IN SEARCH_RESULTS %]
			[% IF ( SEARCH_RESULT.even ) %]
            <tr class="highlight">
			[% ELSE %]
			<tr>
			[% END %]
                <td>
                    <a href="/cgi-bin/koha/opac-search.pl?q=[% SEARCH_RESULT.scan_use |url %]&quot;[% SEARCH_RESULT.title |url %]&quot;">[% IF ( SEARCH_RESULT.title ) %][% SEARCH_RESULT.title |html %][% ELSE %]No title[% END %]</a>
                </td>
                <td>
                    [% SEARCH_RESULT.author %]
                </td>
            </tr>
            [% END %]
        </table>
    </form>
[% ELSE %]

    <div class="searchresults">
	<form action="/cgi-bin/koha/opac-search.pl" method="get" name="bookbag_form" id="bookbag_form">
		[% IF ( searchdesc ) %]
		[% FOREACH QUERY_INPUT IN QUERY_INPUTS %]
		<input type="hidden" name="[% QUERY_INPUT.input_name |html %]" value="[% QUERY_INPUT.input_value |html %]"/>
		[% END %]
		[% FOREACH LIMIT_INPUT IN LIMIT_INPUTS %]
		<input type="hidden" name="[% LIMIT_INPUT.input_name |html %]" value="[% LIMIT_INPUT.input_value |html %]"/>
		[% END %]
		[% END %]

        <!-- TABLE RESULTS START -->
        <table>
		<tr><td colspan="5" class="resultscontrol">
		<div class="resort"> <select id="sort_by" name="sort_by"> [% INCLUDE 'resort_form.inc' %] </select> <input type="submit" class="submit clearfix" id="sortsubmit" value="Go" /></div>
		<div class="cartlist">
            <!-- checkall, clearall are now needed for placehold -->
            <span class="checkall"></span>
        	<span class="clearall"></span>
            [% IF ( OpacHighlightedWords ) %]
            	<a href="#" class="highlight_toggle" id="highlight_toggle_off">Unhighlight</a>
            	<a href="#" class="highlight_toggle" id="highlight_toggle_on">Highlight</a>
            [% END %]
            [% IF ( opacbookbag || virtualshelves ) %]
    	    	<span class="addto"></span>
            [% END %]
		    <span id="placehold"><!-- input class="submit" type="submit" value="Place Hold"/ --></span>
            <div id="holdDetails"></div>

			[% IF ( opacuserlogin ) %][% IF ( loggedinusername ) %][% IF ( TagsEnabled ) %]
                        [% IF ( TagsInputOnList ) %]
                            <span id="tagsel_span"></span>
                          [% IF ( loggedinusername ) %]
                            <span id="tagsel_form" style="display:none">
                              <label for="tagsel_new">New Tag:</label>
                              <input name="tagsel_new" id="tagsel_new" maxlength="100" />
                              <input id="tagsel_button" name="tagsel_button" class="input tagsel_button" title="tagsel_button" type="submit" value="Add" />
                              <a href="#" id="tagsel_cancel">Cancel</a>
                            </span>
                            <span id="tagsel_status" class="tagsel_tatus" style="display:none;">
                              Tag status here.
                            </span>
                          [% END %]
                        [% END %]
                [% END %][% END %][% END %]
        </div>

        </td></tr>
            <!-- Actual Search Results -->
            [% FOREACH SEARCH_RESULT IN SEARCH_RESULTS %]
            [% UNLESS ( loop.odd ) %]
                <tr class="highlight">
            [% ELSE %]
                <tr>
            [% END %]

                <td class="select selectcol">[% IF ( opacbookbag ) %]<input type="checkbox" id="bib[% SEARCH_RESULT.biblionumber %]" name="biblionumber" value="[% SEARCH_RESULT.biblionumber %]" /> <label for="bib[% SEARCH_RESULT.biblionumber %]"></label>[% ELSE %]
[% IF ( virtualshelves ) %]<input type="checkbox" id="bib[% SEARCH_RESULT.biblionumber %]" name="biblionumber" value="[% SEARCH_RESULT.biblionumber %]" /> <label for="bib[% SEARCH_RESULT.biblionumber %]"></label>[% ELSE %]
[% IF ( RequestOnOpac ) %][% UNLESS ( SEARCH_RESULT.norequests ) %][% IF ( opacuserlogin ) %]<input type="checkbox" id="bib[% SEARCH_RESULT.biblionumber %]" name="biblionumber" value="[% SEARCH_RESULT.biblionumber %]" /> <label for="bib[% SEARCH_RESULT.biblionumber %]"></label>[% END %][% END %][% END %][% END %][% END %]</td>
                <td class="select selectcol">[% SEARCH_RESULT.result_number %].</td>

				[% UNLESS ( item_level_itypes ) %]
                [% UNLESS ( noItemTypeImages ) %]

				<td class="itypecol">
                [% IF ( SEARCH_RESULT.imageurl ) %]
				<img src="[% SEARCH_RESULT.imageurl %]" title="[% SEARCH_RESULT.description %]" alt="[% SEARCH_RESULT.description %]" />
                [% END %]
				</td>
                [% END %]
                [% END %]

				[% IF ( SEARCH_RESULT.AuthorisedValueImages ) %]
                <td class="itypecol">
                [% FOREACH authorised_value_image IN SEARCH_RESULT.authorised_value_images %]
                <img src="[% authorised_value_image.imageurl %]" alt="[% authorised_value_image.label %]" title="[% authorised_value_image.label %]">
                [% END %]
                </td>
                [% END %]

				<td>
                [% IF ( COinSinOPACResults ) %]
                    [% IF ( SEARCH_RESULT.coins ) %]
                        <!-- COinS / Openurl --><span class="Z3988" title="[% SEARCH_RESULT.coins %]"></span>
                    [% END %]
                [% END %]

				[% IF ( OPACXSLTResultsDisplay ) %]
                [% SEARCH_RESULT.XSLTResultsRecord %]
				[% ELSE %]
				[% IF ( BiblioDefaultViewmarc ) %]<a class="title" href="/cgi-bin/koha/opac-MARCdetail.pl?biblionumber=[% SEARCH_RESULT.biblionumber |url %]" title="View details for this title">
                                [% ELSE %]
                                [% IF ( BiblioDefaultViewisbd ) %]<a class="title" href="/cgi-bin/koha/opac-ISBDdetail.pl?biblionumber=[% SEARCH_RESULT.biblionumber |url %]" title="View details for this title">
                                [% ELSE %]<a class="title" href="/cgi-bin/koha/opac-detail.pl?biblionumber=[% SEARCH_RESULT.biblionumber |url %]" title="View details for this title">
                                [% END %]
                                [% END %]
								[% IF ( SEARCH_RESULT.title ) %][% SEARCH_RESULT.title |html %][% ELSE %]No title[% END %] [% FOREACH subtitl IN SEARCH_RESULT.subtitle %][% subtitl.subfield %][% END %]</a>
                                [% IF ( SEARCH_RESULT.author ) %]by <a href="/cgi-bin/koha/opac-search.pl?q=au:[% SEARCH_RESULT.author |url %]" title="Search for works by this author" class="author">[% SEARCH_RESULT.author %]</a>
                                [% ELSE %]&nbsp;
                                [% END %]
				<span class="results_summary"><span class="label">Publication:</span>
                        [% IF ( SEARCH_RESULT.place ) %][% SEARCH_RESULT.place %] [% END %][% IF ( SEARCH_RESULT.publishercode ) %][% SEARCH_RESULT.publishercode %][% END %][% IF ( SEARCH_RESULT.publicationyear ) %] [% SEARCH_RESULT.publicationyear %]
                    [% ELSE %][% IF ( SEARCH_RESULT.copyrightdate ) %] [% SEARCH_RESULT.copyrightdate %][% END %][% END %]
                        [% IF ( SEARCH_RESULT.pages ) %]. [% SEARCH_RESULT.pages %][% END %]
                        [% IF ( SEARCH_RESULT.notes ) %], [% SEARCH_RESULT.notes %][% END %]
                        [% IF ( SEARCH_RESULT.size ) %] [% SEARCH_RESULT.size %][% END %]
                        [% IF ( SEARCH_RESULT.timestamp ) %] <i>(modified on [% SEARCH_RESULT.timestamp %])</i>[% END %]
                </span>
                [% IF ( SEARCH_RESULT.summary ) %]
                <span class="result_summary">
                	[% SEARCH_RESULT.summary %]
                </span>
                [% END %]
                [% IF ( SEARCH_RESULT.copyrightdate ) %]<span class="results_summary"><span class="label">Date:</span>[% SEARCH_RESULT.copyrightdate %]</span>[% END %]

				<span class="results_summary">
                <span class="label">Availability:</span>
                    [% IF ( SEARCH_RESULT.available_items_loop.0 ) %]
                    <span class="available"><strong>Copies available:</strong>
                    [% FOREACH available_items_loo IN SEARCH_RESULT.available_items_loop %]
                    [% UNLESS ( available_items_loo.hideatopac ) %]
                    [% IF ( singleBranchMode ) %]
                        [% available_items_loo.location %]
                    [% ELSE %]
                        [% available_items_loo.branchname %]
                    [% END %]

                    [% IF ( OPACItemsResultsDisplay ) %]
					    [% UNLESS ( singleBranchMode ) %][% available_items_loo.location %][% END %]
                        [% IF ( available_items_loo.itemcallnumber ) %][<a href="/cgi-bin/koha/opac-search.pl?q=callnum:[% available_items_loo.itemcallnumber |url %]">[% available_items_loo.itemcallnumber %]</a>][% END %]
                    [% END %]
                    ([% available_items_loo.count %]),
                    [% END %]
                    [% END %]
                    </span>
                    [% ELSE %]
                    [% IF ( SEARCH_RESULT.ALTERNATEHOLDINGS ) %]
                    [% FOREACH ALTERNATEHOLDING IN SEARCH_RESULT.ALTERNATEHOLDINGS %]
                        &nbsp;<span id="alternateholdings">[% ALTERNATEHOLDING.holding %]</span>,
                    [% END %]
                    [% ELSE %]
                        <span class="unavailable">No items available:</span>
                    [% END %]
                    [% END %]
                    <span class="unavailable">
                    [% IF ( SEARCH_RESULT.onloancount ) %] Checked out ([% SEARCH_RESULT.onloancount %]), [% END %]
                    [% IF ( SEARCH_RESULT.wthdrawncount ) %] Withdrawn ([% SEARCH_RESULT.wthdrawncount %]), [% END %]
                    [% UNLESS ( SEARCH_RESULT.hidelostitems ) %][% IF ( SEARCH_RESULT.itemlostcount ) %] Lost ([% SEARCH_RESULT.itemlostcount %]),[% END %][% END %]
                    [% IF ( SEARCH_RESULT.damagedcount ) %] Damaged ([% SEARCH_RESULT.damagedcount %]),[% END %]
                    [% IF ( SEARCH_RESULT.orderedcount ) %] On order ([% SEARCH_RESULT.orderedcount %]),[% END %]
                    [% IF ( SEARCH_RESULT.onholdcount ) %] On hold ([% SEARCH_RESULT.onholdcount %]),[% END %]
                    [% IF ( SEARCH_RESULT.intransitcount ) %] In transit ([% SEARCH_RESULT.intransitcount %]),[% END %]
                    </span>
                </span>

				[% END %]
				[% IF ( LibraryThingForLibrariesID ) %]<div class="ltfl_reviews"></div>[% END %]
				[% IF ( opacuserlogin ) %][% IF ( TagsEnabled ) %]
                                [% IF ( TagsShowOnList ) %]
                                [% IF ( SEARCH_RESULT.TagLoop.size ) %]
                                    <div class="results_summary">
                                        <span class="label">Tags:</span>
                                        <ul style="display: inline; list-style: none;">[% FOREACH TagLoo IN SEARCH_RESULT.TagLoop %]<li style="display: inline; list-style: none;"><a href="/cgi-bin/koha/opac-search.pl?tag=[% TagLoo.term |url %]&amp;q=[% TagLoo.term |url %]">[% TagLoo.term %]</a> <span class="weight">([% TagLoo.weight_total %])</span></li>
                                            [% END %]
                                        </ul>
                                   [% END %]
                                [% IF ( TagsInputOnList ) %]
                                    [% IF ( loggedinusername ) %]
                                    <form name="tagform[% SEARCH_RESULT.biblionumber %]" method="post" action="/cgi-bin/koha/opac-tags.pl">
                                        <label for="newtag[% SEARCH_RESULT.biblionumber %]">New tag:</label>
                                        <input name="newtag[% SEARCH_RESULT.biblionumber %]" id="newtag[% SEARCH_RESULT.biblionumber %]" maxlength="100" />
                                        <input name="tagbutton" class="tagbutton" title="[% SEARCH_RESULT.biblionumber %]" type="submit" value="Add" />
                                    </form>
                                    <span id="newtag[% SEARCH_RESULT.biblionumber %]_status" class="tagstatus" style="display:none;">
                                        Tag status here.
                                    </span>
                                       [% ELSIF ( loop.first ) %]<span class="tagstatus" id="login4tags">Log in to add tags.</span>
                                    [% END %]
                                [% END %]
                                    [% IF ( SEARCH_RESULT.TagLoop.size ) %]
                                    </div>[% END %]
                                [% END %]
                                [% END %][% END %]
				[% IF ( SEARCH_RESULT.searchhighlightblob ) %]<span class="results_summary"><span class="label">Match:</span> [% SEARCH_RESULT.searchhighlightblob %]</span>[% END %]

<span class="results_summary actions"><span class="label">Actions:</span>
                                [% IF ( RequestOnOpac ) %]
					[% UNLESS ( SEARCH_RESULT.norequests ) %]
						[% IF ( opacuserlogin ) %]
							[% IF ( AllowOnShelfHolds ) %]
								<a class="hold" href="/cgi-bin/koha/opac-reserve.pl?biblionumber=[% SEARCH_RESULT.biblionumber %]">Place Hold</a><!-- add back when available 0 holds in queue-->
							[% ELSE %]
								[% IF ( SEARCH_RESULT.itemsissued ) %]
									<a class="hold" href="/cgi-bin/koha/opac-reserve.pl?biblionumber=[% SEARCH_RESULT.biblionumber %]">Place Hold</a><!-- add back when available 0 holds in queue-->
								[% END %]
							[% END %]
						[% END %]
					[% END %]
				[% END %]


				[% IF ( opacuserlogin ) %][% IF ( loggedinusername ) %][% IF ( virtualshelves ) %]<a class="addtoshelf" href="/cgi-bin/koha/opac-addbybiblionumber.pl?biblionumber=[% SEARCH_RESULT.biblionumber %]" onclick="Dopop('opac-addbybiblionumber.pl?biblionumber=[% SEARCH_RESULT.biblionumber %]'); return false;">Save to Lists</a>
    			[% END %][% END %][% END %]
        		[% IF ( opacbookbag ) %]<a class="addtocart" href="#" onclick="addRecord('[% SEARCH_RESULT.biblionumber %]'); return false;">Add to Cart</a>[% END %]
				</span>
				</td><td>
					<a class="p1" href="/cgi-bin/koha/opac-detail.pl?biblionumber=[% SEARCH_RESULT.biblionumber %]">
                    [% IF ( OPACAmazonEnabled ) %][% IF ( OPACAmazonCoverImages ) %][% IF ( SEARCH_RESULT.normalized_isbn ) %]<img src="http://images.amazon.com/images/P/[% SEARCH_RESULT.normalized_isbn %].01.TZZZZZZZ.jpg" alt="" class="thumbnail" />[% ELSE %]<span class="no-image">No cover image available</span>[% END %][% END %][% END %]

					[% IF ( SyndeticsEnabled ) %][% IF ( SyndeticsCoverImages ) %][% IF ( using_https ) %]
                <img src="https://secure.syndetics.com/index.aspx?isbn=[% SEARCH_RESULT.normalized_isbn %]/SC.GIF&amp;client=[% SyndeticsClientCode %]&amp;type=xw10&amp;upc=[% SEARCH_RESULT.normalized_upc %]&amp;oclc=[% SEARCH_RESULT.normalized_oclc %]" alt="" class="thumbnail" />
                [% ELSE %]
                <img src="http://www.syndetics.com/index.aspx?isbn=[% SEARCH_RESULT.normalized_isbn %]/SC.GIF&amp;client=[% SyndeticsClientCode %]&amp;type=xw10&amp;upc=[% SEARCH_RESULT.normalized_upc %]&amp;oclc=[% SEARCH_RESULT.normalized_oclc %]" alt="" class="thumbnail" />[% END %][% END %][% END %]

                [% IF ( GoogleJackets ) %][% IF ( SEARCH_RESULT.normalized_isbn ) %]<div style="block" title="[% SEARCH_RESULT.biblionumber |url %]" class="[% SEARCH_RESULT.normalized_isbn %]" id="gbs-thumbnail[% loop.count %]"></div>[% ELSE %]<span class="no-image">No cover image available</span>[% END %][% END %]
		[% IF OpenLibraryCovers %][% IF SEARCH_RESULT.normalized_isbn %]<div style="block" title="[% SEARCH_RESULT.biblionumber %]" class="[% SEARCH_RESULT.normalized_isbn %]" id="openlibrary-thumbnail[% loop.count %]"></div>[% ELSE %]<span class="no-image">No cover image available</span>[% END %][% END %]
                </a>
                [% IF ( BakerTaylorEnabled ) %][% IF ( SEARCH_RESULT.normalized_isbn ) %]<a href="https://[% BakerTaylorBookstoreURL |html %][% SEARCH_RESULT.normalized_isbn %]"><img alt="See Baker &amp; Taylor" src="[% BakerTaylorImageURL |html %][% SEARCH_RESULT.normalized_isbn %]" /></a>[% ELSE %]<span class="no-image">No cover image available</span>[% END %][% END %]
				</td>
                </tr>
                [% END %]
            </table>
    </form>
    <form id="hold_form" name="hold_form" method="get" action="/cgi-bin/koha/opac-reserve.pl">
        <!-- The value will be set by holdBiblioNums() in basket.js -->
        <input id="hold_form_biblios" type="hidden" name="biblionumbers" value=""/>
    </form>
        </div>
    [% END %]
	[% INCLUDE 'page-numbers.inc' %]

    [% ELSE %]
    [% END %]

	[% IF ( suggestion ) %]
[% IF ( AnonSuggestions ) %]<div class="suggestion">Not finding what you're looking for?<br />  Make a <a href="/cgi-bin/koha/opac-suggestions.pl?op=add">purchase suggestion</a></div>[% ELSE %][% IF ( loggedinusername ) %]<div class="suggestion">Not finding what you're looking for?<br />  Make a <a href="/cgi-bin/koha/opac-suggestions.pl?op=add">purchase suggestion</a></div>[% END %][% END %]
[% END %]
</div>
</div>
</div>
        [% IF ( opacfacets ) %]
<div class="yui-b"><div id="facetcontainer" class="container">
        <!-- FACETS START -->
		[% INCLUDE 'opac-facets.inc' %]
        <!-- FACETS END -->
</div></div>
        [% END %]
</div>

[% IF ( LibraryThingForLibrariesID ) %]
[% IF ( using_https ) %]
<script src="https://ltfl.librarything.com/forlibraries/widget.js?id=[% LibraryThingForLibrariesID %]&amp;systype=koha" type="text/javascript"></script>
[% ELSE %]
<script src="http://ltfl.librarything.com/forlibraries/widget.js?id=[% LibraryThingForLibrariesID %]&amp;systype=koha" type="text/javascript"></script>
[% END %]
[% END %]

[% INCLUDE 'opac-bottom.inc' %]
