[% INCLUDE 'doc-head-open.inc' %][% IF ( LibraryNameTitle ) %][% IF ( LibraryNameTitle ) %][% LibraryNameTitle %][% ELSE %]Koha Online[% END %][% ELSE %]Koha Online[% END %] Catalog &rsaquo;  Updating Details for [% FOREACH BORROWER_INF IN BORROWER_INFO %][% BORROWER_INF.firstname %] [% BORROWER_INF.surname %][% END %]
[% INCLUDE 'doc-head-close.inc' %]
</head>
<body id="opac-userupdate">
<div id="doc3" class="yui-t1">
   <div id="bd">
[% INCLUDE 'masthead.inc' %]

	<div id="yui-main">
	<div class="yui-b"><div class="yui-g" id="userupdate">

<div id="userupdatecontainer" class="container">
[% FOREACH BORROWER_INF IN BORROWER_INFO %]
<h3><a href="/cgi-bin/koha/opac-user.pl">[% BORROWER_INF.firstname %] [% BORROWER_INF.surname %]'s account</a> <img src="[% themelang %]../../images/caret.gif" width="16" height="16" alt="&gt;" border="0" /> Your Personal Details</h3>

[% IF ( OPACPatronDetails ) %]
<form action="/cgi-bin/koha/opac-userupdate.pl" method="get">
<div class="yui-u first">
<input type="hidden" name="modify" value="yes" />
<fieldset class="brief"><legend>Name</legend><ol>
<li><label for="firstname">First Name:</label> <input id="firstname" type="text" value="[% BORROWER_INF.firstname %]"  name="firstname" /></li>
<li><label for="othernames">Other Name:</label> <input id="othernames" type="text" value="[% BORROWER_INF.othernames %]"  name="othernames" /></li>
<li><label for="surname">Last Name:</label> <input id="surname" type="text" value="[% BORROWER_INF.surname %]"  name="surname" /></li>
</ol>
</fieldset>

<fieldset class="brief"><legend>Contact Information</legend>
<ol>
<li><label for="address">Address:</label>
	<input id="streetnumber" size ="7" type="text" value="[% BORROWER_INF.streetnumber %]"  name="streetnumber" /> 
	<input type="text" name="address" value="[% BORROWER_INF.address %]" id="address" />
	<input type="text" name="address2" value="[% BORROWER_INF.address2 %]" id="address2" /></li>
<li><label for="city">City:</label> <input id="city" type="text" value="[% BORROWER_INF.city %]"  name="city" /></li>
<li><label for="state">State:</label> <input id="state" type="text" value="[% BORROWER_INF.state %]"  name="state" /></li>
<li><label for="zipcode">Zip Code: </label><input type="text" id="zipcode" value="[% BORROWER_INF.zipcode %]" name="zipcode" /></li>
<li><label for="country">Country: </label><input type="text" id="country" value="[% BORROWER_INF.country %]" name="country" /></li>
<li><label for="phone">Primary Phone:</label> <input id="phone" type="text" value="[% BORROWER_INF.phone %]"  name="phone" /></li>
<li><label for="mobile">Secondary Phone:</label> <input id="mobile" type="text" value="[% BORROWER_INF.mobile %]"  name="mobile" /></li>
<li><label for="phonepro">Other Phone:</label> <input id="phonepro"  type="text" value="[% BORROWER_INF.phonepro %]"  name="phonepro" /></li>
<li><label for="fax">Fax:</label> <input id="fax" type="text" value="[% BORROWER_INF.fax %]"  name="fax" /></li>
<li><label for="emailaddress">Primary Email:</label> <input id="emailaddress" type="text" value="[% BORROWER_INF.email %]"  name="emailaddress" /></li>
<li><label for="emailpro">Secondary Email:</label> <input id="emailpro" type="text" value="[% BORROWER_INF.emailpro %]"  name="emailpro" /></li>
</ol>
</fieldset>

</div>
<div class="yui-u">
<fieldset class="brief">
<legend>Alternate Contact Information</legend>
<ol>
<li>
    <label for="B_streetaddress">Alternate Address:</label> 
    <input id="B_streetnumber" size ="7" type="text" value="[% BORROWER_INF.B_streetnumber %]"  name="B_streetnumber" /> 
    <input id="B_address" type="text" value="[% BORROWER_INF.B_address %]"  name="B_address" /> 
    <input id="B_address2" type="text" value="[% BORROWER_INF.B_address2 %]"  name="B_address2" />
</li>

<li><label for="B_city">City:</label> <input id="B_city" type="text" value="[% BORROWER_INF.B_city %]"  name="B_city" /></li>
<li><label for="B_state">State:</label> <input id="B_state" type="text" value="[% BORROWER_INF.B_state %]"  name="B_state" /></li>
<li><label for="B_zipcode">Zip Code:</label> <input type="text" id="B_zipcode" value="[% BORROWER_INF.B_zipcode %]" name="B_zipcode" /></li>
<li><label for="B_country">Country:</label> <input type="text" id="B_country" value="[% BORROWER_INF.B_country %]" name="B_country" /></li>
<li><label for="B_phone">Phone:</label> <input type="text" id="B_phone" value="[% BORROWER_INF.B_phone %]" name="B_phone" /></li>
<li><label for="B_email">Email:</label> <input type="text" id="B_email" value="[% BORROWER_INF.B_email %]" name="B_email" /></li>
</ol>
</fieldset>
<fieldset class="brief">
<ol>
<li><label for="dob">Date of Birth: </label> <input id="dob" type="text" size="10" value="[% BORROWER_INF.dateofbirth %]" name="dateofbirth" /></li>
<li><label for="sex">Gender: </label> <select name="sex" id="sex"><option></option>
[% IF ( BORROWER_INF.sex == 'F' ) %]<option value="F" selected="selected">Female</option>[% ELSE %]<option value="F">Female</option>[% END %]
[% IF ( BORROWER_INF.sex == 'M' ) %]<option value="M" selected="selected">Male</option>[% ELSE %]<option value="M">Male</option>[% END %]
</select></li>
</ol></fieldset>
<fieldset class="brief">
<legend>Library Use:</legend>
<ol>
	<li><label for="cardnumber">Card number:</label><input type="text" id="cardnumber" disabled="disabled" readonly="readonly" value="[% BORROWER_INF.cardnumber %]" /></li>
    <li><label for="branchname">Home library:</label><input type="text" id="branchname" disabled="disabled" readonly="readonly" value="[% BORROWER_INF.branchname %]" /></li>
	<li><label for="borrowernumber">Patron Number:</label><input type="text" id="borrowernumber" disabled="disabled" readonly="readonly" value="[% BORROWER_INF.borrowernumber %]" /></li>
	<li><label for="categorycode">Patron Category:</label><input type="text" id="categorycode" disabled="disabled" readonly="readonly" value="[% BORROWER_INF.description %] ([% BORROWER_INF.categorycode %])" /></li>
	<li><label for="dateenrolled">Joined: </label><input type="text" id="dateenrolled" disabled="disabled" readonly="readonly" value="[% BORROWER_INF.dateenrolled %]" /></li>
	<li><label for="dateexpiry">Expires: </label><input type="text" id="dateexpiry" disabled="disabled" readonly="readonly" value="[% BORROWER_INF.dateexpiry %]" /></li>
   [% IF ( BORROWER_INF.ExtendedPatronAttributes ) %]
    [% FOREACH patron_attribute IN BORROWER_INF.patron_attributes %]
        <li><label>[% patron_attribute.description %]</label>
        [% IF ( patron_attribute.value_description ) %]
            <input type="text"  disabled="disabled" readonly="readonly" value="[% patron_attribute.value_description %]" />
        [% ELSE %]
            <input type="text"  disabled="disabled" readonly="readonly" value="[% patron_attribute.value %]" />
        [% END %]
        </li>
    [% END %]
   [% END %]
</ol>
</fieldset>
<fieldset class="action">
<p>Please make any necessary changes to your record.  Submitting the form will notify a library staff member, who will make the changes permanent.</p>
<input type="submit" value="Submit Changes" /> <a class="cancel" href="/cgi-bin/koha/opac-user.pl">Cancel</a></fieldset>
</div>

</form>
[% ELSE %]
<p style="clear:left;padding:1em 0">To make changes to your record please contact the library.</p>
<div class="yui-u first">
<fieldset class="rows">
<legend>Contact Information</legend>
<ol>
<li><span class="label">Name:</span> [% BORROWER_INF.firstname %] [% BORROWER_INF.surname %]</li>
<li><span class="label">Other Name:</span> [% BORROWER_INF.othernames %]</li>
<li><span class="label">Address:</span> [% BORROWER_INF.streetnumber %] [% BORROWER_INF.address %]</li>
<li><span class="label">&nbsp;</span>[% BORROWER_INF.address2 %]</li>
<li><span class="label">City:</span>  [% BORROWER_INF.city %]</li>
<li><span class="label">State:</span>  [% BORROWER_INF.state %]</li>
<li><span class="label">Zip Code:</span>  [% BORROWER_INF.zipcode %]</li>
<li><span class="label">Country:</span>  [% BORROWER_INF.country %]</li>
<li><span class="label">Primary Phone:</span>  [% BORROWER_INF.phone %]</li>
<li><span class="label">Secondary Phone:</span>  [% BORROWER_INF.mobile %]</li>
<li><span class="label">Other Phone:</span>  [% BORROWER_INF.phonepro %]</li>
<li><span class="label">Fax:</span>  [% BORROWER_INF.fax %]</li>
<li><span class="label">Primary Email:</span>  [% BORROWER_INF.email %]</li>
<li><span class="label">Secondary Email:</span>  [% BORROWER_INF.emailpro %]</li>
</ol>
</fieldset>

<fieldset class="rows">
<legend>Personal Information</legend>
<ol>
<li><span class="label">Date of Birth:</span> [% BORROWER_INF.dateofbirth %]</li>
<li><span class="label">Gender:</span>
[% IF ( sex == 'F' ) %]Female[% END %]
[% IF ( sex == 'M' ) %]Male[% END %]
</li>
</ol>
</fieldset>
</div>

<div class="yui-u">
<fieldset class="rows">
<legend>Alternate Contact Information</legend>
<ol>
<li><span class="label">Alternate Address:</span> [% BORROWER_INF.B_streetnumber %] [% BORROWER_INF.B_address %] </li>
<li><span class="label">&nbsp;</span>[% BORROWER_INF.B_address2 %]</li>
<li><span class="label">City:</span> [% BORROWER_INF.B_city %]</li>
<li><span class="label">State:</span> [% BORROWER_INF.B_state %]</li>
<li><span class="label">Zip Code:</span> [% BORROWER_INF.B_zipcode %]</li>
<li><span class="label">Country:</span> [% BORROWER_INF.B_country %]</li>
<li><span class="label">Phone:</span> [% BORROWER_INF.B_phone %]</li>
<li><span class="label">Email:</span> [% BORROWER_INF.B_email %]</li>
</ol>
</fieldset>

<fieldset class="rows">
<legend>Library Use:</legend>
<ol>
<li><span class="label">Card number:</span> [% BORROWER_INF.cardnumber %]</li>
<li><span class="label">Home library:</span> [% BORROWER_INF.branchname %]</li>
<li><span class="label">Patron Number:</span> [% BORROWER_INF.borrowernumber %]</li>
<li><span class="label">Patron Category:</span> [% BORROWER_INF.description %] ([% BORROWER_INF.categorycode %])</li>
<li><span class="label">Joined:</span> [% BORROWER_INF.dateenrolled %]</li>
<li><span class="label">Expires:</span> [% BORROWER_INF.dateexpiry %]</li>
   [% IF ( BORROWER_INF.ExtendedPatronAttributes ) %]
    [% FOREACH patron_attribute IN BORROWER_INF.patron_attributes %]
        <li><span class="label">[% patron_attribute.description %]</span>
        [% IF ( patron_attribute.value_description ) %]
            [% patron_attribute.value_description %]
        [% ELSE %]
            [% patron_attribute.value %]
        [% END %]
        </li>
    [% END %]
   [% END %]
</ol>
</fieldset>
</div>
[% END %]
[% END %]
</div>
</div>
</div>
</div>
<div class="yui-b">
<div id="leftmenus" class="container">
[% INCLUDE 'navigation.inc' %]
[% INCLUDE 'usermenu.inc' %]
</div>
</div>
</div>
[% INCLUDE 'opac-bottom.inc' %]
