[% INCLUDE 'help-top.inc' %]

<h1>Budget Planning</h1>

<p>When viewing the list of funds click the 'Planning' button and choose how you would like to plan to spend your budget.</p>

<p>If you choose 'Plan by MONTHS' you will see the budgeted amount broken down by months.</p>

<p>To hide some of the columns you can click the minus sign (-) to the right (or below as in the screenshot above) the dates. To add more columns you can click the plus sign (+) found above the 'Auto-fill row' buttons.</p>

<p>From here you can plan your budget spending by manually entering values or by clicking the 'Auto-fill row' button. If you choose to auto-fill the form the system will try to divide the amount accordingly, you may have to make some edits to split things more accurately.</p>

<p>Once your changes are made, click the 'Save' button. If you would like to export your data as a CSV file you can do so by entering a file name in the 'Output to a file named' field and clicking the 'Output' button.</p>

[% INCLUDE 'help-bottom.inc' %]