[% INCLUDE 'help-top.inc' %]

<h1>Profiles</h1>

<p>A profile is a set of "adjustments" applied to a given template just prior to printing which compensates for anomalies unique and peculiar to a given printer (to which the profile is assigned). This means if you set a template up and then print a sample set of data and find that the items are not all aligned the same on each label, you need to set up a profile for each printer to make up for the differences in printing styles, such as the shifting of text to the left, right, top or bottom.</p>

<p>If your labels are printing just the way you want, you will not need a profile.</p>

<h2>Add a Profile</h2>

<p>To add a new profile, you want to click on the 'Profiles' button at the top of your page and choose 'New Profile'</p>

<p>Using the form that appears you can create a profile to fix any problems with your template.</p>

<ul>
	<li>The Printer Name and Paper Bin do not have to match your printer exactly, they are for your reference so you can remember what printer you have set the profile for. So if you want to use the Printer model number in printer name or you can call it 'the printer on my desk'</li>
	<li>Template will be filled in once you have chosen which template to apply the profile to on the template edit form</li>
	<li>The Units pull down is used to define what measurement scale you're going to be using for your profile.&nbsp;</li>
	<li>Offset describes what happens when the entire image is off center either vertically or horizontally and creep describes a condition where the distance between the labels changes across the page or up and down the page
<ul>
	<li>For these values, negative numbers move the error up and to the left and positive numbers move the error down and to the right</li>
	<li>Example: the text is .25" from the left edge of the first label, .28" from the left edge of the second label and .31" from the left edge of the third label. This means the horizontal creep should be set to .03" to make up for this difference.</li>
</ul>
</li>
</ul>

<p>After saving, your profiles will appear on the 'Manage Profiles' page.</p>

<p>Once you have saved your new profile, you can return to the list of templates and choose to edit the template that this profile is for.</p>



[% INCLUDE 'help-bottom.inc' %]