[% INCLUDE 'help-top.inc' %]
	   
<h3>Overdue fines</h3>

<p>This report shows items that:
<ul>
    <li>are still checked out,</li>
    <li>have not had a notice sent, and</li>
    <li>already have an associated fine (type &quot;FU&quot;).</li>
</ul>

<p>This report will not show items that are so long overdue that the system has marked them 'Lost'</p>

<p>Once open the report can be filtered by the shelving location.</p>

