[% INCLUDE 'help-top.inc' %]

<h1>Overdues</h1>

<p>This report will list all items that are overdue at your library.</p>

<p>The report can be filtered using the menu options found on the left of the report.</p>

<p style="color: #990000">Important: For libraries with a large patron base, this report may take a significant amount of time to run.</p>
<ul>
	<li style="background-color: #ffe599">Tip: Large libraries can choose to filter the report before it runs by setting the FilterBeforeOverdueReport system preference to 'Require'.</li>
</ul>

[% INCLUDE 'help-bottom.inc' %]