[% INCLUDE 'help-top.inc' %]

<h1>Holds to Pull</h1>

<p>This report will show you all of the items that have holds on them that are available at the library for pulling.</p>

<p>This report will be generated based on a few system preferences:</p>

<ul>
	<li>StaticHoldsQueueWeight
<ul>
	<li>Allows the library to specify a list of library location codes -- if used alone, it will rank the list statically, selecting the top-ranking available location to be added to the picklist.</li>
</ul>
</li>
	<li>RandomizeHoldsQueueWeight
<ul>
	<li>If 'RandomizeHoldsQueueWeight' and 'StaticHoldsQueueWeight' are set, the list of library codes in the 'StaticHoldsQueueWeight' system preference are randomized rather than statically ranked. If RandomizeHoldsQueueWeight alone is set, the list of all available library codes is used to randomize the weight.</li>
</ul>
</li>
</ul>

<p>If neither 'RandomizeHoldsQueueWeight' or 'StaticHoldsQueueWeight' is set, the holds queue is statically ranked according to how they are pulled out of the system database.</p>

<p>You can limit the results you see by using the Refine box on the left side of the page</p>

[% INCLUDE 'help-bottom.inc' %]